<div class="sidepanel-layout form-ledger-eth" ng-controller="LedgerEthCtrl">
  <div class="sidepanel-header">
    {{ 'LEDGER.ETH.TITLE' | translate }}
    <img ng-click="closeSidepanel()" class="sidepanel-close" src="img/close.svg" alt="x" />
  </div>
  <div class="sidepanel-content" ng-if="compatible === true">
    <div ng-show="!data.path" class="connect">
      <div class="title">{{ 'LEDGER.ETH.CONNECT_TITLE' | translate }}</div>
      <img src="img/ledger_nano_s.png"/>
      <div class="text">{{ 'LEDGER.ETH.CONNECT_TEXT' | translate }}</div>
      <div class="text-info">{{ 'LEDGER.ETH.CONNECT_TEXT_INFO_1' | translate }}<a href="https://caniuse.com/#feat=u2f" target="_blank">FIDO U2F API</a>{{ 'LEDGER.ETH.CONNECT_TEXT_INFO_2' | translate }}</div>

      <div class="paths">
        <div class="path" ng-repeat="path in paths" ng-click="setPath(path)" ng-class="{ button: $index == 0 }">
          <span class="pathtext">{{ path.path }}</span>
          <span class="pathlabel">{{ path.label }}</span>
        </div>
      </div>
    </div>
    <div class="select-address" ng-show="data.path && !data.tx.address">
      <div class="title">
        {{ 'LEDGER.ETH.SELECT_ADDRESS' | translate }}
      </div>
      <div class="text-center" ng-show="data.addresses.length == 0">
        <div class="loading-text">{{ 'LEDGER.ETH.LOADING_ADDRESSES' | translate }}</div>
      </div>
      <div class="addresses" ng-if="data.addresses.length > 0">
        <div class="address" ng-repeat="add in data.addresses | orderBy:'index'" ng-click="setAddress(add)">
          <img src="{{ add.img }}" />
          {{ add.address }}
          <span class="address-balance">({{ value.round(add.balance) }} ETH)</span>
        </div>
      </div>
      <div class="text-center">
        <a ng-click="data.path = null" class="button">{{ 'LEDGER.ETH.GO_BACK' | translate }}</a>
      </div>
    </div>
    <div ng-if="data.tx.address">
      <div class="accountinfo">
        <div class="balance-value-intro">
          <img src="{{ data.img }}" />
        </div>
        <div class="balance-value">
          <span tooltip="{{ data.tx.balance }} ETH">{{ value.round(data.tx.balance) }} ETH</span>
        </div>
        <div class="balance-address-intro">
          {{ 'LEDGER.ETH.ADDRESS_INTRO' | translate }}
        </div>
        <div class="balance-address">
          {{ data.tx.address }}
        </div>
      </div>
      <div class="signed" ng-if="data.tx.txSigned">
        <div class="successtext">{{ 'LEDGER.ETH.TX_SUCCESS' | translate }}</div>
        <div class="link_wrapper">
          <a class="button" target="_blank" ng-href="{{ 'https://etherscan.io/pushTx?hex=' + data.tx.txSigned }}">
            {{ 'LEDGER.ETH.TX_BROADCAST' | translate }}
          </a>
        </div>
        <div class="txdata">
          {{ 'LEDGER.ETH.TX_RAW' | translate }}
          <pre>{{ data.tx.txRaw | json }}</pre>
          {{ 'LEDGER.ETH.TX_HEX' | translate }}
          <pre>{{ data.tx.txSigned }}</pre>
        </div>
      </div>
      <form ng-submit="askSignEtherTransaction()" ng-show="!data.tx.txSigned">
        <div>
          <label>
            {{ 'LEDGER.ETH.GAS_PRICE' | translate }}
            <div class="more">
              {{ 'LEDGER.ETH.GAS_PRICE_MORE1' | translate }}
              <a href="https://ethgasstation.info" target="_blank">ethgasstation.info</a>
              {{ 'LEDGER.ETH.GAS_PRICE_MORE2' | translate }}
            </div>
          </label>
          <input type="text" ng-model="data.tx.gasPrice" />
        </div>
        <div>
          <label>
            {{ 'LEDGER.ETH.GAS_LIMIT' | translate }}
          </label>
          <input type="text" ng-model="data.tx.gasLimit" />
        </div>
        <div>
          <label>
            {{ 'LEDGER.ETH.TO_ADDRESS' | translate }}
          </label>
          <input type="text" ng-model="data.tx.to" />
        </div>
        <div ng-show="!data.erc20">
          <label>
            {{ 'LEDGER.ETH.TX_VALUE' | translate }}
            &nbsp;
            <a ng-click="sendErc20()">{{ 'LEDGER.ETH.SEND_ERC20' | translate }}</a>
          </label>
          <input type="text" ng-model="data.tx.txValue" />
        </div>
        <div ng-show="data.erc20" class="erc20-container">
          <label>
            {{ 'LEDGER.ETH.ERC20_TO_TRANSFER' | translate }}
            &nbsp;
            <a ng-click="sendEther()">{{ 'LEDGER.ETH.SEND_ETHER' | translate }}</a>
            <div class="more">
              {{ 'LEDGER.ETH.ERC20_PRESETS' | translate }}
              <div class="preset" ng-repeat="(add, info) in data.presets" ng-click="selectPreset(add, info)" tooltip="{{ info.name }}">
                {{ info.symbol }} ({{ info.balance }})
              </div>
            </div>
            <div class="abi-loading" ng-show="data.loadingContractAbi">{{ 'LEDGER.ETH.ERC20_ABI_LOADING' | translate }}</div>
            <div class="abi-safe" ng-show="data.contractAbi.length">{{ 'LEDGER.ETH.ERC20_ABI_SAFE' | translate }}</div>
            <div class="abi-unsafe" ng-show="data.contractAbi == -1" tooltip="{{ 'LEDGER.ETH.ERC20_ABI_UNSAFE_MORE' | translate }}">{{ 'LEDGER.ETH.ERC20_ABI_UNSAFE' | translate }}</div>
            <div class="abi-ununknown" ng-show="data.contractAbi == -2">{{ 'LEDGER.ETH.ERC20_ABI_UNKNOWN' | translate }}</div>
          </label>
          <input id="contract-address" type="text" ng-model="data.contractAddress" ng-disabled="data.loadingContractAbi" />
          <label>
            {{ 'LEDGER.ETH.ERC20_DECIMALS' | translate }}
          </label>
          <input type="text" ng-model="data.contractDecimals" />
          <label>
            {{ 'LEDGER.ETH.ERC20_N_TOKENS' | translate }}
            <a ng-click="erc20FullBalance()">{{ 'LEDGER.ETH.ERC20_FULL_BALANCE' | translate }}</a>
          </label>
          <input type="text" ng-model="data.nTokens" />
        </div>
        <a class="advancedlink" ng-click="data.tx.advanced = true;" ng-if="!data.tx.advanced">
          {{ 'LEDGER.ETH.SHOW_ADVANCED' | translate }}
        </a>
        <a class="advancedlink" ng-click="data.tx.advanced = false;" ng-if="data.tx.advanced">
          {{ 'LEDGER.ETH.HIDE_ADVANCED' | translate }}
        </a>
        <div ng-if="data.tx.advanced">
          <div>
            <label>{{ 'LEDGER.ETH.NONCE' | translate }}</label>
            <input type="text" ng-model="data.tx.nonce" />
          </div>
          <div ng-show="!data.erc20">
            <label>{{ 'LEDGER.ETH.DATA' | translate }}</label>
            <input type="text" ng-model="data.tx.data" />
          </div>
        </div>
        <input type="submit" value="{{ 'LEDGER.ETH.ASK_SIGNATURE' | translate }}" ng-disabled="!data.tx.to || data.loadingContractAbi || (data.erc20 && !data.contractAbi.length) || (data.erc20 && !data.nTokens)"/>
      </div>
    </div>
  </div>
</div>
