.auth, .auth-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-align: center;
  padding: 2em;
  background: linear-gradient(90deg,#2B5876 0,#4E4376 100%),linear-gradient(224.88deg,#3A3897 0,#A3A1FF 100%);
  color: #fff;
}

.auth-bg {
  background-size: cover;
  background-position: center center;
  background-image: url(img/logo_bg.png);
}

.auth a {
  color: #fff;
}

.auth .error {
  background: #c62828;
  width: 100%;
  max-width: 600px;
  margin: .5em 0;
  padding: .75em 1em;
  border-radius: 1.5em;
  border: none;
  display: inline-block;
}

.auth .auth-content-wrapper {
  margin-top: calc(50vh - 100px);
  transform: translateY(-50%);
}

.auth form {
  margin-top: 3em;
}

.auth input {
  outline: none;
}

.auth input[type="text"], .auth input[type="password"] {
  width: 100%;
  max-width: 600px;
  margin: .5em 0;
  padding: 1.5em 2em;
  border-radius: 2em;
  border: none;
}

.auth input[type="submit"] {
  width: 100%;
  max-width: 600px;
  padding: 1.5em 2em;
  border-radius: 2em;
  margin-top: 2em;
  background: linear-gradient(90deg, #a12696, #e35f9b);
  color: white;
  border: none;
  cursor: pointer;
}

.auth input[type="checkbox"] {
  height: 24px;
  width: 24px;
  vertical-align: -7px;
  border: none;
  -webkit-appearance: none;
  margin: 0 5px 0 0;
  -moz-appearance: none;
  cursor: pointer;
  background-position: 100% 50%;
  background-size: 200% 100%;
  background-image: url(img/checkbox.png);
}

.auth input[type="checkbox"]:checked {
  background-position: 0% 50%;
}

.auth input[type="submit"]:disabled {
  background: linear-gradient(90deg, #665164, #9a6d82);
}
