.panel-operations .account-label {
  font-size: 16px;
  font-weight: 500;
}

.panel-operations .account-publickey {
  color: #777;
  padding: 1em 0;
}

.panel-operations .export {
  float: right;
  font-size: 13px;
}

.panel-operations .success {
  background: #0ac241;
  padding: 1em;
  margin: 1em 0;
  border-radius: 10px;
  color: white;
  font-weight: 500;
}

.panel-operations .togglemanualform {
  text-align: center;
  padding: 1em;
  font-size: 13px;
}
.panel-operations .manualform {
  border: 1px solid #ddd;
  padding: 2em 1em 0;
  margin: 0 0 1em;
  border-radius: 10px;
}

.panel-operations table {
  width: 100%;
}
.panel-operations th, .panel-operations td {
  text-align: center;
  font-family: monospace;
  padding: 5px;
  font-size: 14px;
}
.panel-operations td.text-center {
  text-align: center;
}

.panel-operations thead th {
  background: #2B5876;
  color: white;
  cursor: pointer;
  user-select: none;
}
.panel-operations th:first-child {
  border-top-left-radius: 7px;
}
.panel-operations th:last-child {
  border-top-right-radius: 7px;
}

.panel-operations tbody tr:nth-child(even) td {
  background: rgba(0, 0, 0, 0.03);
}

.panel-operations td.comment {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 150px;
}

.panel-operations td.noinfo {
  color: #999;
}

.panel-operations img {
  height: 1em;
  width: 1em;
  cursor: pointer;
}

.panel-operations td.color-Unknown::before {
  background: #888;
  content: '?';
  color: white;
  border-radius: 10px;
  height: 20px;
  width: 20px;
  display: inline-block;
  line-height: 20px;
  text-align: center;
}
.panel-operations td.color-Trade::before {
  background: #c200ff;
  content: '⇄';
  color: white;
  border-radius: 10px;
  height: 20px;
  width: 20px;
  display: inline-block;
  line-height: 20px;
  text-align: center;
}
.panel-operations td.color-Self::before {
  background: #a409d4;
  content: '↺';
  color: white;
  border-radius: 10px;
  height: 20px;
  width: 20px;
  display: inline-block;
  line-height: 20px;
  text-align: center;
}
.panel-operations td.color-SmartContract::before {
  background: #0087ff;
  content: '♦';
  color: white;
  border-radius: 10px;
  height: 20px;
  width: 20px;
  display: inline-block;
  line-height: 20px;
  text-align: center;
}
.panel-operations td.color-Error::before {
  background: #c62828;
  content: '✖';
  color: white;
  border-radius: 10px;
  height: 20px;
  width: 20px;
  display: inline-block;
  line-height: 20px;
  text-align: center;
}
.panel-operations td.color-Withdraw::before {
  background: #d22d6c;
  content: '↘';
  color: white;
  border-radius: 10px;
  height: 20px;
  width: 20px;
  display: inline-block;
  line-height: 20px;
  text-align: center;
}
.panel-operations td.color-Deposit::before {
  background: #0ac241;
  content: '↗';
  color: white;
  border-radius: 10px;
  height: 20px;
  width: 20px;
  display: inline-block;
  line-height: 20px;
  text-align: center;
}

@media screen and (min-width: 1000px) {
  .panel-operations .manualform input[type="text"],
  .panel-operations .manualform input[type="date"],
  .panel-operations .manualform input[type="number"],
  .panel-operations .manualform .ui-select-container {
    width: calc(50% - 0.5em);
    float: left;
    margin-bottom: 10px;
    height: 43px;
  }
  .panel-operations .manualform input[type="text"]:nth-child(odd),
  .panel-operations .manualform input[type="date"]:nth-child(odd),
  .panel-operations .manualform input[type="number"]:nth-child(odd),
  .panel-operations .manualform .ui-select-container:nth-child(odd) {
    margin-right: 1em;
  }
}

@media screen and (max-width: 1000px) {
  .panel-operations table {
    width: calc(100% + 40px);
    margin: 0 -20px;
  }
  .panel-operations td, .panel-operations th {
    font-size: 10px;
    border-radius: 0;
  }
}
