.accounts h1 {
  margin: 0;
}

.accounts .mainbutton {
  position: absolute;
  right: 0;
  top: 1.5em;
  font-size: 1rem;
  font-weight: normal;
}

.accounts .portfolio {
  margin-bottom: 1em;
}

.accounts h2 {
  font-size: 1.1em;
  position: relative;
  padding: 2em 0 1em;
  margin: 0;
}

.accounts .account {
  position: relative;
  box-shadow: 0 2px 7px rgba(0,0,0,.2);
  background: #fff;
  margin-bottom: 1em;
  padding: 1.5em 2em;
  border-radius: 10px;
}

.accounts .account .account-title {
  flex: 2;
  min-width: 300px;
  padding-right: 1em;
  line-height: 1.5em;
}

.accounts .account .account-label {
  float: left;
  font-weight: bold;
}

.accounts .account .account-balance {
  float: right;
  line-height: 3em;
  font-weight: 700;
  color: #5B86E5;
}

.accounts .account .account-assets-setup {
  flex: 3;
}

.accounts .account .account-assets-setup span {
  line-height: 3em;
  padding-left: 2em;
  opacity: .7;
}

.accounts .account .account-assets {
  flex: 3;
  min-width: 300px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.accounts .account .account-asset {
  line-height: 3rem;
  font-size: .9em;
  min-width: 140px;
  text-align: left;
  padding-left: 2em;
  white-space: nowrap;
  flex-grow: 1;
  width: 25%;
}
.accounts .account .account-asset img {
  height: 2em;
  width: 2em;
  vertical-align: -0.6em;
}
.accounts .account .account-balance a {

}
