.accounts h1 {
  margin: 0;
}

.accounts .mainbutton {
  position: absolute;
  right: 0;
  top: 1.5em;
  font-size: 1rem;
  font-weight: normal;
}

.accounts .account {
  margin-bottom: 1em;
}

.accounts .dust .asset-image,
.accounts .dust .strvalue-asset,
.accounts .dust .strvalue-usd {
  opacity: 0.5;
}

.accounts h2 {
  font-size: 1.1em;
  position: relative;
  padding: 2em 0 1em;
  margin: 0;
}

.accounts .account {
  position: relative;
  border: 1px solid #e5e5e5;
  background: #fff;
  margin-bottom: 1em;
  padding: 1.5em 2em;
  border-radius: 10px;
}


.accounts .account .action {
  cursor: pointer;
  position: relative;
  padding: 0.2em;
  display: inline-block;
  vertical-align: middle;
  opacity: 0;
  transition: opacity .1s;
}
.accounts .account:hover .action {
  opacity: 0.4;
}
.accounts .account:hover .action:hover {
  opacity: 1;
}
.accounts .account .action img {
  height: 0.8em;
  width: 0.8em;
}

.accounts .account .account-title {
  flex: 2;
  min-width: 270px;
  padding-right: 1em;
  line-height: 1.5em;
}

.accounts .account .account-label {
  float: left;
  font-weight: bold;
}

.accounts .account .account-balance {
  float: right;
  line-height: 2.5em;
  font-size: 1.2em;
  color: #5B86E5;
  font-weight: 500;
  font-family: avenir;
}

.accounts .account .account-assets-setup {
  flex: 3;
}

.accounts .account .account-assets-setup span {
  line-height: 3em;
  padding-left: 2em;
  opacity: .7;
}

.accounts .account .account-assets {
  flex: 3;
  min-width: 300px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.accounts .account .account-asset {
  line-height: 3rem;
  min-width: 140px;
  text-align: left;
  padding-left: 2em;
  white-space: nowrap;
  flex-grow: 1;
  width: 25%;
}

.accounts .account .account-balance a {

}
