.accounts .mainbutton {
  position: absolute;
  right: 0;
  top: 1.5em;
  font-size: 1rem;
  font-weight: normal;
}

.accounts .account {
  margin-bottom: 1em;
}

.accounts .dust .asset-image,
.accounts .dust .strvalue-asset,
.accounts .dust .strvalue-usd {
  opacity: 0.5;
}

.accounts h2 {
  font-size: 1.1em;
  position: relative;
  padding: 2em 0 1em;
  margin: 0;
}

.accounts .account {
  position: relative;
  border: 1px solid #e5e5e5;
  background: #fff;
  margin-bottom: 1em;
  padding: 1.5em 2em;
  border-radius: 5px;
}
.accounts .account .account-pubkey {
  font-family: monospace;
  opacity: 1;
  color: #777;
}

.accounts .account .action {
  cursor: pointer;
  position: relative;
  padding: 0.2em;
  display: inline-block;
  vertical-align: middle;
  opacity: 0;
  transition: opacity .1s;
  user-select: none;
}
.accounts .account:hover .action {
  opacity: 0.6;
}
.accounts .account:hover .action:hover {
  opacity: 1;
}
.accounts .account .action img {
  height: 0.8em;
  width: 0.8em;
}

.accounts .account .account-title {
  flex: 2;
  min-width: 270px;
  padding-right: 1em;
  line-height: 1.5em;
}

.accounts .account .account-label {
  float: left;
  font-weight: 500;
}

.accounts .account .account-balance {
  float: right;
  position: relative;
  line-height: 1.5em;
  text-align: right;
  font-size: 1.2em;
  color: #5B86E5;
  font-weight: 500;
}
.accounts .account .account-balance .lastupdate {
  font-size: 0.8em;
  color: #999;
  font-family: inherit;
}

.accounts .account .account-assets-setup {
  flex: 3;
}

.accounts .account .account-assets-setup span {
  line-height: 3em;
  padding-left: 2em;
  opacity: .7;
}

.accounts .account .account-assets {
  flex: 3;
  min-width: 300px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.accounts .account .account-asset {
  line-height: 3rem;
  min-width: 140px;
  text-align: left;
  padding-left: 2em;
  white-space: nowrap;
  flex-grow: 1;
  width: 25%;
}

.accounts .account .account-requests {
  padding-top: 1em;
  flex: 0 0 100%;
}
.accounts .account .account-request {
  display: block;
  line-height: 30px;
  height: 30px;
}
.accounts .account .account-request .request-state {
  background: #666;
  color: #fff;
  border-radius: 3px;
  font-size: 12px;
  padding: 4px 5px 3px 5px;
  text-align: center;
  width: 85px;
  line-height: 14px;
  display: inline-block;
}
.accounts .account .account-request .request-state-Created { background: #fcb352; }
.accounts .account .account-request .request-state-Accepted { background: #406278; }
.accounts .account .account-request .request-state-Cancelled { background: #ed6852; }
.accounts .account .account-request .request-state-In { background: #8ab4fa; }
.accounts .account .account-request .request-state-Completed { background: #3fd783; }
.accounts .account .account-request .request-state-Overpaid { background: #8e44ad; }
.accounts .account .account-request img {
  height: 23px;
  float: left;
  margin: 3px 10px 3px 0;
}
.accounts .account .account-request .button {
  font-size: 11px;
  padding: 2px 10px 0px;
  border-radius: 12px;
  line-height: 20px;
  min-width: 100px;
}


.account-errors {
  padding-top: 1em;
  flex: 0 0 100%;
}

.account-error {
  color: #c62828;
  font-size: 0.9em;
  margin-top: 15px;
}
