<div>
  <div class="bg"></div>
  <div class="bg bg-img"></div>
  <header ui-view="header"></header>
  <nav ui-view="menu" class="menu"></nav>
  <div class="maincontent">
    <section class="content-wrapper" ui-view="maincontent" ng-if="appReady"></section>
    <div class="sidepanel-shadow" ng-show="showSidepanel" ng-click="hideSidepanel()"></div>
    <div class="sidepanel" ng-show="showSidepanel">
      <div ng-include="sidepanelTemplateUrl" class="h100"></div>
    </div>
    <div class="prompt-shadow" ng-show="showPrompt" ng-click="hidePrompt()"></div>
    <div class="prompt" ng-show="showPrompt">
      <div ng-include="'app/templates/prompt.html'" ng-controller="PromptCtrl"></div>
    </div>
  </div>
  <ng-progress></ng-progress>
</div>
