<div class="prompt-title">
  {{ prompt.title | translate }}
</div>
<div class="prompt-content">
  {{ prompt.text | translate }}
  <div class="prompt-error" ng-show="error">
    {{ error.message }} ({{ error.code }})
  </div>
</div>
<div class="prompt-actions">
  <a class="button prompt-action-cancel" ng-click="hide()">
    {{ 'PROMPT.CANCEL' | translate }}
  </a>
  <a class="button prompt-action" ng-repeat="action in prompt.actions" ng-click="do(action);" ng-disabled="inprog">
    {{ (action.label + (inprog ? '_INPROG' : '')) | translate }}
  </a>
</div>
