.kyberswap {
  display: block;
  user-select: none;
}

.kyberswap .loader {
  position: relative;
  text-align: center;
  color: #999;
  padding-top: 100px;
}

.kyberswap .swap-wrapper {
  text-align: center;
}
.kyberswap .swap {
  position: relative;
  display: inline-block;
  width: 520px;
}
.kyberswap .swap .asset-image {
  height: 70px;
  width: 70px;
  border-radius: 35px;
  margin: 0;
}
.kyberswap .swap .swap-left, .kyberswap .swap .swap-right {
  text-align: center;
  cursor: pointer;
}
.kyberswap .swap .swap-left {
  float: left;
  margin-left: 25px;
}
.kyberswap .swap .swap-right {
  float: right;
  margin-right: 25px;
}
.kyberswap .swap .asset-price {
  padding: 5px;
  font-size: 18px;
  color: #5B86E5;
  font-weight: 500;
}
.kyberswap .swap .asset-balance {
  padding-top: 5px;
  font-size: 11px;
  color: #999;
}
.kyberswap .swap input[type="text"] {
  margin: 0;
  text-align: center;
  width: 130px;
  font-size: 16px;
  border: 1px solid #ccc;
  height: 30px;
  border-radius: 15px;
  outline: none!important;
}

.kyberswap .swap .swap-bar {
  position: absolute;
  top: 17px;
  width: 100%;
  height: 40px;
}
.kyberswap .swap .swap-bar .trade-value {
  position: absolute;
  left: 50%;
  top: 40px;
  width: 170px;
  font-size: 16px;
  line-height: 22px;
  margin-left: -88px;
  color: #bbb;
}
.kyberswap .swap .swap-bar .symbol {
  position: absolute;
  height: 40px;
  width: 40px;
}
.kyberswap .swap .swap-bar .symbol-left, .kyberswap .swap .swap-bar .symbol-right {
  position: absolute;
  left: 50%;
  height: 70px;
  width: 70px;
  line-height: 40px;
  font-size: 18px;
}
.kyberswap .swap .swap-bar .symbol-left {
  margin-left: -95px;
  text-align: right;
}
.kyberswap .swap .swap-bar .symbol-right {
  margin-left: 26px;
  text-align: left;
}
.kyberswap .swap .swap-bar .arrow {
  cursor: pointer;
  position: absolute;
  background: url(img/exchange.svg);
  height: 34px;
  bottom: 3px;
  width: 34px;
  background-size: contain;
  left: 50%;
  filter: grayscale(100%);
  margin-left: -17px;
}
.kyberswap .swap .swap-bar .settings-show {
  opacity: 0;
  transition: opacity .1s;
  position: absolute;
  left: 50%;
  width: 16px;
  height: 16px;
  margin-left: -8px;
  top: 95px;
  background: url(img/settings.svg);
  background-size: 100% 100%;
  cursor: pointer;
}
.kyberswap .swap:hover .swap-bar .settings-show {
  opacity: 1;
}

.kyberswap .swap .swap-button {
  width: 100%;
  margin-top: 15px;
  font-size: 13px;
}
.kyberswap .swap .broadcast-done {
  display: block;
  font-size: 12px;
  color: #999;
  margin-top: 10px;
  text-decoration: underline;
  cursor: pointer;
}


.kyberswap .swap .settings {
  float: left;
  width: 100%;
  font-size: 13px;
}
.kyberswap .swap .settings input[type="range"] {
  width: 100%;
}
.kyberswap .swap .settings input[type="radio"] {
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  margin: -3px 0 0 0;
}
.kyberswap .swap .settings label {
  cursor: pointer;
  margin-right: 15px;
  margin-left: -5px;
  padding-left: 5px;
}
.kyberswap .swap .settings h4 {
  font-weight: 500;
  font-size: 14px;
  margin: 0 0 5px;
}
.kyberswap .swap .settings .setting {
  margin-top: 15px;
  border-top: 1px solid #e5e5e5;
  padding-top: 5px;
}
.kyberswap .swap .setting-note {
  color: #999;
  margin-top: 10px;
}


.kyberswap .tradepairs {
  width: 100%;
  margin-top: 30px;
}
.kyberswap .tradepairs th {
  padding: 10px;
  font-weight: 500;
  font-size: 15px;
  cursor: pointer;
}
.kyberswap .tradepairs td {
  position: relative;
  padding: 5px;
}
.kyberswap .tradepairs .asset-image {
  margin: 0;
}
.kyberswap .tradepairs th:nth-child(2) {
  text-align: left;
  padding-left: 5px;
}
.kyberswap .tradepairs td:nth-child(1) {
  width: 2em;
}
.kyberswap .tradepairs td:nth-child(2) {
  text-align: left;
}

.kyberswap .error {
  color: #c62828;
}
.kyberswap .swap-error {
  white-space: pre-line;
  padding: 10px 0;
  float: left;
  width: 100%;
}
