.token-select .sidepanel-content {
  text-align: center;
}

.token-select .asset {
  display: inline-block;
  width: 100px;
  margin: 20px;
  padding: 15px;
  border-radius: 5px;
  cursor: pointer;
}
.token-select .asset-image {
  height: 40px;
  width: 40px;
  margin: 0;
}
.token-select .asset-symbol {
  padding: 10px 0 5px;
}
.token-select .asset-price {
  font-size: 18px;
  color: #5B86E5;
  font-weight: 500;
}
