<div class="accounts pagepanel">
  <section ng-show="loading" class="loading"></section>
  <section ng-show="!loading">
    <h1>
      {{ 'ACCOUNTS.TITLE' | translate }}
    </h1>
    <div ng-repeat="portfolio in portfolios" class="portfolio">
      <h2>
        {{ 'ACCOUNTS.PORTFOLIO' | translate }} {{ portfolio.label }}
        <a class="mainbutton button" ng-click="promptForm({ portfolioid: portfolio.id })">{{ 'ACCOUNTS.ADD_ACCOUNT_IN_PORTFOLIO' | translate }}</a>
      </h2>

      <div ng-show="portfolio.accounts.length == 0" class="muted">
        {{ 'ACCOUNTS.NO_ACCOUNTS_IN_PORTFOLIO' | translate }}
      </div>
      <section ng-repeat="account in portfolio.accounts" class="account dflex">
        <div class="account-title">
          <div class="account-label">
            {{ 'ACCOUNTS.ACCOUNT' | translate }} {{ account.label }}
            <br>
            <a ng-click="promptForm({ portfolioid: portfolio.id, id: account.id, label: account.label, publickey: account.publickey, typeid: account.typeid })" style="color:blue;text-decoration:underline;font-weight:normal;cursor:pointer;">edit</a>
            <a ng-click="promptDelete(portfolio.id, account.id)" style="color:blue;text-decoration:underline;font-weight:normal;cursor:pointer;">delete</a>
            <a ng-click="promptMove(portfolios, account, portfolio.id)" style="color:blue;text-decoration:underline;font-weight:normal;cursor:pointer;">move</a>
          </div>
          <div class="account-balance">
            {{ account.values[0].value | num:2 }} USD
          </div>
        </div>

        <div class="account-assets-setup" ng-if="account.balances === null">
          <span>{{ 'ACCOUNTS.SETUP' | translate }}</span>
        </div>
        <!-- 1st case : more than 4 assets -->
        <div class="account-assets dflex" ng-if="account.balances && account.assets.length > 4" ng-init="account.maxdisplay = 3">
          <div class="account-asset" ng-repeat="asset in account.assets" ng-show="$index < account.maxdisplay">
            <img check-src="{{ asset.img }}" fallback-src="img/coin.svg"/>
            <span strvalue="asset"></span>
          </div>
          <div class="account-asset cpointer" ng-click="account.maxdisplay = 9999" ng-hide="account.maxdisplay == 9999">>
            <a>{{ 'PORTFOLIOS.MORE_ASSETS' | translate:{ n: account.assets.length - 3 } }}</a>
          </div>
          <div class="account-asset" ng-if="account.maxdisplay == 9999 && account.assets.length % 4 == 3"></div>
          <div class="account-asset" ng-if="account.maxdisplay == 9999 && account.assets.length % 4 == 2"></div>
          <div class="account-asset" ng-if="account.maxdisplay == 9999 && account.assets.length % 4 == 2"></div>
          <div class="account-asset" ng-if="account.maxdisplay == 9999 && account.assets.length % 4 == 1"></div>
          <div class="account-asset" ng-if="account.maxdisplay == 9999 && account.assets.length % 4 == 1"></div>
          <div class="account-asset" ng-if="account.maxdisplay == 9999 && account.assets.length % 4 == 1"></div>
        </div>
        <!-- 2nd case : at most 4 assets -->
        <div class="account-assets" ng-if="account.balances && account.assets.length <= 4">
          <div class="account-asset" ng-repeat="asset in account.assets">
            <img check-src="{{ asset.img }}" fallback-src="img/coin.svg"/>
            <span strvalue="asset"></span>
          </div>
          <div class="account-asset" ng-if="account.assets.length < 4"></div>
          <div class="account-asset" ng-if="account.assets.length < 3"></div>
          <div class="account-asset" ng-if="account.assets.length < 2"></div>
        </div>
      </div>

    </div>
  </section>
</div>
