<div class="accounts pagepanel">
  <section ng-show="loading" class="loading"></section>
  <section ng-show="!loading">
    <h1>
      {{ 'ACCOUNTS.TITLE' | translate }}
      <span ng-show="accounts.length">({{ accounts.length }}/{{ accounts.length + accountsleft }})</span>
    </h1>
    <div ng-repeat="portfolio in portfolios" class="portfolio">
      <h2>
        {{ portfolio.label }}
        <span ng-show="portfolio.accounts.length">({{ portfolio.accounts.length }})</span>
        <a class="mainbutton button" ng-click="promptForm({ portfolioid: portfolio.id })" ng-if="accountsleft > 0">{{ 'ACCOUNTS.ADD_ACCOUNT_IN_PORTFOLIO' | translate }}</a>
        <a class="mainbutton button" disabled="disabled" ng-if="accountsleft == 0">{{ 'ACCOUNTS.ADD_ACCOUNT_IN_PORTFOLIO' | translate }}</a>
      </h2>

      <div ng-show="portfolio.accounts.length == 0" class="muted">
        {{ 'ACCOUNTS.NO_ACCOUNTS_IN_PORTFOLIO' | translate }}
      </div>
      <section ng-repeat="account in portfolio.accounts" class="account dflex">
        <div class="account-title">
          <div class="account-label">
            {{ account.label }}
            &nbsp;
            <a ng-click="promptOperations(account)" class="action" tooltip="{{ 'ACCOUNTS.OPERATIONS.TITLE' | translate }}">
              <img src="img/operations.svg" alt="operations"/>
            </a>
            <a ng-show="account.editable" ng-click="promptForm({ portfolioid: portfolio.id, id: account.id, label: account.label, publickey: account.publickey, typeid: account.typeid })" class="action" tooltip="{{ 'ACCOUNTS.EDIT' | translate }}">
              <img src="img/edit.svg" alt="edit"/>
            </a>
            <a ng-click="promptDelete(portfolio.id, account.id)" class="action" tooltip="{{ 'ACCOUNTS.DELETE' | translate }}">
              <img src="img/delete.svg" alt="delete"/>
            </a>
            <br>
            <span class="muted">{{ account.publickey | publickey }}</span>
            <!--<a ng-click="promptMove(portfolios, account, portfolio.id)" class="small-link">move</a>-->
          </div>
          <div class="account-balance">
            {{ ::value.display(account.value) }}
            <div class="lastupdate" tooltip="{{ 'ACCOUNTS.LAST_UPDATE_TOOLTIP' | translate:{ datestring: (account.updatedate | dateFormat:'dddd DD/MM/YY HH:mm') } }}">
              {{ account.updatedate | dateAgo }}
            </div>
          </div>
        </div>

        <div class="account-assets-setup" ng-if="!account.balances.length && account.initialized === false">
          <span>{{ 'ACCOUNTS.SETUP' | translate }}</span>
        </div>
        <div class="account-assets-setup" ng-if="!account.balances.length && account.initialized !== false">
          <span>{{ 'ACCOUNTS.EMPTY' | translate }}</span>
        </div>
        <!-- 1st case : more than 4 assets -->
        <div class="account-assets dflex" ng-if="account.balances.length && account.assets.length > 4" ng-init="account.maxdisplay = 3">
          <div class="account-asset" ng-repeat="asset in account.assets" ng-show="$index < account.maxdisplay">
            <div ng-class="{ 'dust': asset.value === 0 }">
              <div class="asset-image">
                <img check-src="{{ 'img/' + asset.symbol + '.svg' }}" fallback-src="img/coin.svg"/>
              </div>
              <span strvalue="asset"></span>
            </div>
          </div>
          <div class="account-asset cpointer" ng-click="account.maxdisplay = 9999" ng-hide="account.maxdisplay == 9999">
            <a class="small-link">{{ 'PORTFOLIOS.MORE_ASSETS' | translate:{ n: account.assets.length - 3 } }}</a>
          </div>
          <div class="account-asset" ng-if="account.maxdisplay == 9999 && account.assets.length % 4 == 3"></div>
          <div class="account-asset" ng-if="account.maxdisplay == 9999 && account.assets.length % 4 == 2"></div>
          <div class="account-asset" ng-if="account.maxdisplay == 9999 && account.assets.length % 4 == 2"></div>
          <div class="account-asset" ng-if="account.maxdisplay == 9999 && account.assets.length % 4 == 1"></div>
          <div class="account-asset" ng-if="account.maxdisplay == 9999 && account.assets.length % 4 == 1"></div>
          <div class="account-asset" ng-if="account.maxdisplay == 9999 && account.assets.length % 4 == 1"></div>
        </div>
        <!-- 2nd case : at most 4 assets -->
        <div class="account-assets" ng-if="account.balances.length && account.assets.length <= 4">
          <div class="account-asset" ng-repeat="asset in account.assets">
            <div ng-class="{ 'dust': asset.value === 0 }">
              <div class="asset-image">
                <img check-src="{{ 'img/' + asset.symbol + '.svg' }}" fallback-src="img/coin.svg"/>
              </div>
              <span strvalue="asset"></span>
            </div>
          </div>
          <div class="account-asset" ng-if="account.assets.length < 4"></div>
          <div class="account-asset" ng-if="account.assets.length < 3"></div>
          <div class="account-asset" ng-if="account.assets.length < 2"></div>
        </div>

        <!-- errors -->
        <div class="account-errors" ng-if="account.errors">
          <div class="account-error" ng-repeat="err in account.errors">⚠ {{ err }}.</div>
        </div>

        <!-- requests -->
        <div class="account-requests" ng-if="account.requestnetwork">
          <div class="account-request" ng-repeat="request in account.requestnetwork">
            <a href="https://app.request.network/#/request/requestId/{{ request.id }}" target="_blank">
              <img src="img/request.svg" />
            </a>
            <span class="request-state request-state-{{ request.state }}">{{ request.state }}</span>
            {{ 'ACCOUNTS.REQUEST_BY' | translate }}
            <a href="https://etherscan.io/address/{{ request.requester }}" target="_blank">{{ request.requester | longhex }}</a>
            <a href="https://app.request.network/#/request/requestId/{{ request.id }}" target="_blank" class="button" ng-if="showRequest(request.state)">
              Pay {{ value.display(request.requestedamount, request.symbol) }}
            </a>
          </div>
        </div>
      </div>

    </div>
  </section>
</div>
