<form ng-submit="$ctrl.submit()" class="add-account">
  <ui-select ng-model="$ctrl.formData.portfolio" theme="selectize" ng-show="!$ctrl.portfolioid">
    <ui-select-match placeholder="{{ 'FORM.CREATE_WALLET.PORTFOLIO_PLACEHOLDER' | translate }}">
      {{ 'FORM.CREATE_WALLET.PORTFOLIO' | translate }} "{{ $select.selected.name }}"
    </ui-select-match>
    <ui-select-choices repeat="portfolio in $ctrl.portfolios | filter: $select.search">
      {{ 'FORM.CREATE_WALLET.PORTFOLIO' | translate }} "{{ portfolio.name }}"
    </ui-select-choices>
  </ui-select>
  <ui-select ng-model="$ctrl.formData.type" theme="selectize">
    <ui-select-match placeholder="{{ 'FORM.CREATE_WALLET.TYPE_PLACEHOLDER' | translate }}">
      {{ $select.selected.label }}
    </ui-select-match>
    <ui-select-choices repeat="type in $ctrl.types | filter: $select.search">
      {{ type.label }}
    </ui-select-choices>
  </ui-select>
  <input ng-model="$ctrl.formData.name" type="text" placeholder="{{ 'FORM.CREATE_WALLET.NAME_PLACEHOLDER' | translate }}"/>
  <input ng-model="$ctrl.formData.publickey" type="text" placeholder="{{ 'FORM.CREATE_WALLET.PUBLICKEY_PLACEHOLDER' | translate }}"/>
  <input ng-model="$ctrl.formData.privatekey" ng-show="$ctrl.formData.type.isSecretKeyRequired" type="text" placeholder="{{ 'FORM.CREATE_WALLET.PRIVATEKEY_PLACEHOLDER' | translate }}"/>
  <div class="error" ng-show="$ctrl.error">
    {{ 'FORM.CREATE_WALLET.ERROR' | translate }}
  </div>
  <div class="error" ng-show="$ctrl.error">
    {{ 'FORM.CREATE_WALLET.ERROR' | translate }}
  </div>
  <input type="submit" value="{{ 'FORM.CREATE_WALLET.SUBMIT' | translate }}"/>
</form>
