<div class="sidepanel-layout panel-operations" ng-controller="AccountOperationsCtrl">
  <div class="sidepanel-header">
    {{ 'ACCOUNTS.OPERATIONS.TITLE' | translate }}
    <img ng-click="closeSidepanel()" class="sidepanel-close" src="img/close.svg" alt="x" />
  </div>
  <div class="sidepanel-content">
    <div class="account-label">
      {{ account.label }}
      <span ng-click="export()" class="button export">{{ 'ACCOUNTS.OPERATIONS.EXPORT' | translate:{ n: operationCount() } }}</span>
    </div>
    <div class="account-publickey">{{ account.publickey | publickey }}</div>
    <div class="success" ng-if="success">
      {{ 'ACCOUNTS.OPERATIONS.SUCCESS' | translate:{ add: success.add, delete: success.delete } }}
    </div>
    <div class="error" ng-if="error">
      {{ error.message }} ({{ error.code }})
    </div>
    <table class="operations" ng-show="operationCount() > 0">
      <thead>
        <tr>
          <th ng-click="toggleSort('time')">
            {{ 'ACCOUNTS.OPERATIONS.DATE' | translate }}
            {{ getSortIndicator('time') }}
          </th>
          <th ng-click="toggleSort('type')">
            {{ 'ACCOUNTS.OPERATIONS.TYPE' | translate }}
            {{ getSortIndicator('type') }}
          </th>
          <th ng-click="toggleSort('inbound.volume')">
            {{ 'ACCOUNTS.OPERATIONS.INBOUND' | translate }}
            {{ getSortIndicator('inbound.volume') }}
          </th>
          <th ng-click="toggleSort('outbound.volume')">
            {{ 'ACCOUNTS.OPERATIONS.OUTBOUND' | translate }}
            {{ getSortIndicator('outbound.volume') }}
          </th>
          <th ng-click="toggleSort('fees.volume')">
            {{ 'ACCOUNTS.OPERATIONS.FEES' | translate }}
            {{ getSortIndicator('fees.volume') }}
          </th>
          <th ng-if="account.ismanual">
            {{ 'ACCOUNTS.OPERATIONS.ACTION' | translate }}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="op in operations | orderBy:sort" ng-hide="op.hide">
          <td>{{ op.time | dateFormat:'YYYY-MM-DD HH:mm' }}</td>
          <td class="color-{{ op.type }}" title="{{ op.type }}"></td>
          <td ng-if="op.inbound" title="{{op.inbound.volume}}">{{ value.round(op.inbound.volume) }} {{ op.inbound.symbol }}</td>
          <td ng-if="!op.inbound" class="noinfo">-</td>
          <td ng-if="op.outbound" title="{{op.outbound.volume}}">{{ value.round(op.outbound.volume) }} {{ op.outbound.symbol }}</td>
          <td ng-if="!op.outbound" class="noinfo">-</td>
          <td ng-if="op.fees" title="{{op.fees.volume}}">{{ value.round(op.fees.volume) }} {{ op.fees.symbol }}</td>
          <td ng-if="!op.fees" class="noinfo">-</td>
          <th ng-if="account.ismanual">
            <img src="img/delete.svg" alt="delete" tooltip="{{ 'ACCOUNTS.OPERATIONS.ACTIONS.DELETE' | translate }}" ng-click="delete(op)"/>
          </th>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="sidepanel-footer" ng-show="pendingDeletes.length || pendingAdds.length">
    {{ 'ACCOUNTS.OPERATIONS.PENDING' | translate:{ add: pendingAdds.length, delete: pendingDeletes.length } }}
    &nbsp;&nbsp;&nbsp;
    <div class="button-border" ng-click="init()">Cancel</div>
    <div class="button" ng-show="!loading" ng-click="submit()">Submit</div>
    <div class="button" ng-show="loading" disabled>Submitting...</div>
  </div>
</div>
