<div class="sidepanel-layout panel-operations" ng-controller="AccountOperationsCtrl">
  <div class="sidepanel-header">
    {{ 'ACCOUNTS.OPERATION_ADD.TITLE' | translate }}
    <img ng-click="closeSidepanel()" class="sidepanel-close" src="img/close.svg" alt="x" />
  </div>
  <div class="sidepanel-content">
    <div class="success" ng-if="success">
      {{ 'ACCOUNTS.OPERATION_ADD.SUCCESS' | translate:{ add: success.add, delete: success.delete } }}
    </div>
    <div class="error" ng-if="error">
      {{ error.message }} ({{ error.code }})
    </div>
    <form ng-if="account.ismanual" ng-submit="add()">
      <div class="clearfix">
        <input class="input-date" type="date" ng-model="addForm.date" placeholder="{{ 'ACCOUNTS.OPERATION_ADD.DATE' | translate }}"/>
        <input class="input-label" type="text" ng-model="addForm.label" placeholder="{{ 'ACCOUNTS.OPERATION_ADD.LABEL' | translate }}"/>
        <input class="input-volumein" type="text" ng-model="addForm.volumein" placeholder="{{ 'ACCOUNTS.OPERATION_ADD.VOLUME_IN' | translate }}"/>
        <ui-select ng-model="addForm.currencyin" theme="selectize" ng-class="{ empty: filterCurrencies($select.search).length == 0 }">
          <ui-select-match placeholder="{{ 'ACCOUNTS.OPERATION_ADD.CURRENCY_IN' | translate }}">
            {{ $select.selected.label }} ({{ $select.selected.symbol }})
          </ui-select-match>
          <ui-select-choices repeat="mc in filterCurrencies($select.search) | orderBy:'label'" ng-value="mc.id">
            {{ mc.label }} ({{ mc.symbol }})
          </ui-select-choices>
        </ui-select>
        <input class="input-volumeout" type="text" ng-model="addForm.volumeout" placeholder="{{ 'ACCOUNTS.OPERATION_ADD.VOLUME_OUT' | translate }}"/>
        <ui-select ng-model="addForm.currencyout" theme="selectize" ng-class="{ empty: filterCurrencies($select.search).length == 0 }">
          <ui-select-match placeholder="{{ 'ACCOUNTS.OPERATION_ADD.CURRENCY_OUT' | translate }}">
            {{ $select.selected.label }} ({{ $select.selected.symbol }})
          </ui-select-match>
          <ui-select-choices repeat="mc in filterCurrencies($select.search) | orderBy:'label'" ng-value="mc.id">
            {{ mc.label }} ({{ mc.symbol }})
          </ui-select-choices>
        </ui-select>
        <pre ng-show="0">{{ addForm | json }}</pre>
      </div>

      <input class="input-submit" type="submit" value="{{ 'ACCOUNTS.OPERATION_ADD.SUBMIT' | translate }}" ng-disabled="cantSubmit()"/>
    </form>
  </div>
  <div class="sidepanel-footer" ng-show="pendingAdds.length">
    {{ 'ACCOUNTS.OPERATION_ADD.PENDING' | translate:{ add: pendingAdds.length } }}
    &nbsp;&nbsp;&nbsp;
    <div class="button-border" ng-click="init()">Cancel</div>
    <div class="button" ng-show="!loading" ng-click="submit()">Submit</div>
    <div class="button" ng-show="loading" disabled>Submitting...</div>
  </div>
</div>
