.dashboard section.assets {
  text-align: left;
  float: left;
  width: 100%;
}

.dashboard section.assets .assets-container {
  width: 100%;
}

.dashboard section.assets .assets-moreless {
  text-align: center;
  padding-top: 1em;
  color: #45B2E0;
  cursor: pointer;
}

.dashboard section.assets .asset {
  display: flex;
  flex-wrap: wrap;
  font-size: 15px
  margin: 5px 0;
  padding: 5px;
  background: #f9f9f9;
  border-radius: 5px;
}
.dashboard section.assets .asset .name,
.dashboard section.assets .asset .asset-cell-normal,
.dashboard section.assets .asset .asset-cell-highlight,
.dashboard section.assets .asset .minichart {
  flex: 1;
  line-height: 50px;
  position: relative;
  white-space: nowrap;
  min-width: 130px;
  text-align: center;
}

.dashboard section.assets .asset .asset-image {
  height: 40px;
  width: 40px;
}

.dashboard section.assets .asset .name {
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
  flex: 2;
  min-width: 150px;
  padding-left: 0;
}

.dashboard section.assets .asset .asset-cell-highlight {
  color: #45B2E0;
  font-size: 20px;
  font-weight: 500;
}

.dashboard section.assets .asset .minichart {
  min-width: 100px;
  height: 60px;
  margin: -5px;
  padding: 0 0 17px;
  text-align: center;
}

.dashboard section.assets .asset .minichart .minichart-text {
  line-height: 17px;
  font-size: 12px;
  bottom: 0;
  width: 100%;
  position: absolute;
  border-bottom-right-radius: 5px;
}

.dashboard section.assets .asset .minichart canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 46px;
}

@media screen and (max-width: 1500px) {
  .dashboard section.assets .assets-container {
    width: 100%;
  }
}

@media screen and (max-width: 1000px) {
  .dashboard section.assets .asset .minichart {
    min-width: 100%;
  }

  .dashboard section.assets .asset .minichart .minichart-text {
    border-bottom-left-radius: 12px;
  }

  .dashboard section.assets .asset .name,
  .dashboard section.assets .asset .value,
  .dashboard section.assets .asset .count,
  .dashboard section.assets .asset .var24 {
    min-width: 50%;
  }
}
