.dashboard-error {
  text-align: center;
  padding: 5em 3em;
  line-height: 32px;
  font-size: 19px;
}
.dashboard-error .errortext {
  padding: 2em 0;
  color: #c62828;
}

.dashboard {
  position: relative;
}

.dashboard h2 {
  font-family: avenir;
  margin: 0;
  color: #7f7f8f;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 56px;
  text-transform: uppercase;
  font-weight: 500;
}

.dashboard .tooltip-info {
  color: white;
  background: #45B2E0;
  display: inline-block;
  height: 20px;
  width: 20px;
  font-size: 16px;
  line-height: 20px;
  border-radius: 10px;
  position: relative;
  vertical-align: middle;
  white-space: nowrap;
  text-align: center;
  margin-top: -4px;
  margin-left: 5px;
  cursor: help;
}

.dashboard .dashboard-panel {
  border-radius: 10px;
  margin: 0 2em 2em;
  background-color: #fff;
  padding: 1em 2em 2em;
  box-shadow: 0 2px 7px rgba(0,0,0,.2);
}


@media screen and (max-width: 1000px) {
  .dashboard .dashboard-panel {
    padding: 1em;
    margin: 0 !important;
    border-radius: 0;
    overflow: hidden;
    height: auto !important;
    box-shadow: none;
    min-height: calc(100vh - 50px);
  }
}
