<form id="form-lostpassword" ng-submit="lostPassword()">
  <div>
    <input id="email" type="text" ng-model="form.email" placeholder="{{ 'AUTH.LOST_PASSWORD.EMAIL' | translate }}"/>
  </div>
  <div ng-show="error" class="error">
    {{ error.message }} ({{ error.code }})
  </div>
  <div ng-show="!success">
    <input ng-disabled="!form.email || loading" type="submit" value="{{ ('AUTH.LOST_PASSWORD.SUBMIT' + (loading ? '_INPROG' : '')) | translate }}"/>
  </div>
  <div ng-show="success">
    <input ng-disabled="true" type="submit" value="{{ 'AUTH.LOST_PASSWORD.SUCCESS' | translate }}"/>
  </div>
  <div class="mtop">
    <a ui-sref="auth.login">{{ 'AUTH.LOST_PASSWORD.LOGIN' | translate }}</a>
  </div>
</form>
