<ul>
  <a ui-sref="app.dashboard" ui-sref-active="active" ng-click="hideMenu()">
    <li>
      <img src="img/dashboard.svg"/>
      {{ 'MENU.DASHBOARD' | translate }}
    </li>
  </a>
  <a ui-sref="app.markets" ui-sref-active="active" ng-click="hideMenu()">
    <li>
      <img src="img/markets.svg"/>
      {{ 'MENU.MARKETS' | translate }}
    </li>
  </a>
  <a ui-sref="app.portfolios" ui-sref-active="active" ng-click="hideMenu()">
    <li>
      <img src="img/portfolios.svg"/>
      {{ 'MENU.PORTFOLIOS' | translate }}
    </li>
  </a>
  <a ui-sref="app.accounts" ui-sref-active="active" ng-click="hideMenu()">
    <li>
      <img src="img/accounts.svg"/>
      {{ 'MENU.ACCOUNTS' | translate }}
    </li>
  </a>
</ul>
<div class="version">
  Galion.io v{~version~}
</div>
