<a class="logo" href="#" ng-click="hideMenu()">
  Galion
</a>
<ul>
  <a ui-sref="app.dashboard" ui-sref-active="active" ng-click="hideMenu()">
    <li>
      <img src="img/dashboard.svg"/>
      {{ 'MENU.DASHBOARD' | translate }}
    </li>
  </a>
  <a ui-sref="app.portfolios" ui-sref-active="active" ng-click="hideMenu()">
    <li>
      <img src="img/portfolios.svg"/>
      {{ 'MENU.PORTFOLIOS' | translate }}
    </li>
  </a>
  <a ui-sref="app.accounts" ui-sref-active="active" ng-click="hideMenu()">
    <li>
      <img src="img/accounts.svg"/>
      {{ 'MENU.ACCOUNTS' | translate }}
    </li>
  </a>

  <a ui-sref="app.markets" ui-sref-active="active" ng-click="hideMenu()">
    <li class="sep">
      <img src="img/markets.svg"/>
      {{ 'MENU.MARKETS' | translate }}
    </li>
  </a>
  <a ui-sref="app.exchange" ui-sref-active="active" ng-click="hideMenu()">
    <li>
      <img src="img/exchange.svg"/>
      {{ 'MENU.EXCHANGE' | translate }}
    </li>
  </a>

  <a ui-sref="app.send" ui-sref-active="active" ng-click="hideMenu()">
    <li class="sep">
      <img src="img/send.svg"/>
      {{ 'MENU.SEND' | translate }}
    </li>
  </a>
  <a ui-sref="app.wallet" ui-sref-active="active" ng-click="hideMenu()">
    <li>
      <img src="img/guw.svg"/>
      {{ 'MENU.GUW' | translate }}
    </li>
  </a>

  <li class="onboarding-percentage" ng-hide="onboardingPercentage() == 1">
    <div class="onboarding-percentage-wrapper">
      <div class="onboarding-percentage-bar" ng-style="{ width: (onboardingPercentage() * 100) + '%' }"></div>
    </div>
  </li>

  <li class="onboarding-title" ng-hide="onboardingPercentage() == 1">
    <div ui-sref="onboarding" class="onboarding-info-wrapper"><div class="onboarding-info"></div></div>
    {{ 'MENU.ONBOARDING.TITLE' | translate }}: {{ onboardingPercentage() * 100 }}%
  </li>
  <li class="onboarding-wrapper" ng-hide="onboardingPercentage() == 1">
    <a class="item" ng-class="{ completed: user.emailverified }">
      {{ 'MENU.ONBOARDING.EMAIL_VERIFIED' | translate }}
    </a>
    <a class="item" ng-class="{ completed: portfolios.length > 0 }">
      {{ 'MENU.ONBOARDING.CREATED_PORTFOLIO' | translate }}
    </a>
    <a class="item" ng-class="{ completed: accounts.length > 0 }">
      {{ 'MENU.ONBOARDING.ACCOUNT_LINKED' | translate }}
    </a>
    <a class="item" ng-class="{ completed: assets.length > 0 }">
      {{ 'MENU.ONBOARDING.ACCOUNT_NON_EMPTY' | translate }}
    </a>
    <a class="item" ng-class="{ completed: guw.ETH }">
      {{ 'MENU.ONBOARDING.GUW_CREATED' | translate }}
    </a>
  </li>
</ul>
<div class="version">
  Galion.io v{~version~} beta
</div>
