<div class="dashboard">
  <div class="chartbalance-container dashboard-panel clearfix has-{{ data.portfolios.length }}-portfolios">
    <section class="balance">
      <h2>{{ 'DASHBOARD.BALANCE.TITLE' | translate }}</h2>
      <div class="current" ng-if="data.dashboard">{{ ::value.display(data.dashboard.totalvalue) }}</div>
      <div class="var">
        {{ 'DASHBOARD.BALANCE.LAST_DAY' | translate }} : <span ng-bind-html="data.var24 | var"></span>
        &nbsp;
        &nbsp;
        &nbsp;
        <span ng-show="settings.history !== 'day'">
          {{ 'DASHBOARD.BALANCE.LAST_WEEK' | translate }} :
          <span ng-bind-html="data.var168 | var"></span>
        </span>
      </div>
      <div class="portfolio-sneakpeeks">
        <div class="portfolio" ng-repeat="portfolio in data.portfolios" ng-show="$index < 5">
          <div class="image">
            {{ portfolio.label.substring(0, 2) | uppercase }}
          </div>
          <div class="text">{{ portfolio.label }}</div>
          <div class="subtext muted">{{ ::value.display(portfolio.value) }}</div>
          <div class="minichart" ng-show="portfolio.history">
            <canvas id="chart-portfolio-{{ portfolio.id }}"></canvas>
            <div class="minichart-text" ng-bind-html="portfolio.var168 | var" ng-style="{ 'background-color' : portfolio.var168 > 0 ? color.positive_alpha : color.negative_alpha }"></div>
          </div>
        </div>
        <div class="more">
          <a class="small-link" ui-sref="app.portfolios">See all ></a>
        </div>
      </div>
    </section>
    <section class="chart">
      <h2>{{ 'DASHBOARD.CHART.TITLE' | translate }}</h2>
      <a class="maxpoints" ng-class="{ 'active': settings.maxpoints === 0 }" ng-click="toggleMaxpoints()">
        {{ 'DASHBOARD.CHART.ALL_POINTS' | translate }}
      </a>
      <nav>
        <a ng-class="{ 'active': settings.history === 'all' }" ng-click="setHistory('all')">
          {{ 'DASHBOARD.CHART.NAV_ALL' | translate }}
        </a>
        <a ng-class="{ 'active': settings.history === 'month' }" ng-click="setHistory('month')">
          {{ 'DASHBOARD.CHART.NAV_MONTH' | translate }}
        </a>
        <a ng-class="{ 'active': settings.history === 'week' }" ng-click="setHistory('week')">
          {{ 'DASHBOARD.CHART.NAV_WEEK' | translate }}
        </a>
        <a ng-class="{ 'active': settings.history === 'day' }" ng-click="setHistory('day')">
          {{ 'DASHBOARD.CHART.NAV_DAY' | translate }}
        </a>
      </nav>
      <div class="mainchart">
        <canvas id="chart-mainchart"></canvas>
        <div class="chart-tooltip" id="tooltip-mainchart"></div>
        <div id="boat-mainchart" class="chart-boat"></div>
      </div>
    </section>
    <section class="assets clearfix" ng-init="maxShownAssets = 5">
      <h2>{{ 'DASHBOARD.ASSETS.TITLE' | translate }}</h2>

      <div class="assets-container clearfix">
        <div class="asset" ng-repeat="asset in data.dashboard.dashboardassets" ng-show="$index < maxShownAssets">
          <div class="name">
            <div class="asset-image">
              <img check-src="{{ 'img/' + asset.symbol + '.svg' }}" fallback-src="img/coin.svg"/>
            </div>
            {{ asset.label }}
          </div>
          <div class="asset-cell-highlight">{{ ::value.round(asset.volume) }} {{ ::asset.symbol }}</div>
          <div class="asset-cell-normal">{{ ::value.display(asset.value / asset.volume) }} / {{ ::asset.symbol }}</div>
          <div class="asset-cell-highlight">{{ ::value.display(asset.value) }}</div>
          <div class="asset-cell-normal">
            {{ 'DASHBOARD.ASSETS.PERF_DAY' | translate }}
            <span ng-bind-html="asset.var24 | var"></span>
          </div>
          <div class="asset-cell-normal">
            {{ 'DASHBOARD.ASSETS.PERF_WEEK' | translate }}
            <span ng-bind-html="asset.var168 | var"></span>
          </div>
          <div class="minichart" ng-show="asset.history">
            <canvas id="chart-asset-{{ asset.mappedcurrencyid }}"></canvas>
            <div class="minichart-text" ng-style="{ 'background-color' : asset.var168 > 0 ? color.positive_alpha : color.negative_alpha }">
              <span ng-bind-html="asset.var168 | var"></span>
            </div>
          </div>
        </div>
        <div class="assets-moreless" ng-show="maxShownAssets == 5 && data.dashboard.dashboardassets.length > maxShownAssets" ng-click="maxShownAssets = 99999">
          {{ 'DASHBOARD.ASSETS.VIEW_MORE' | translate }}
        </div>
        <div class="assets-moreless" ng-show="maxShownAssets == 99999" ng-click="maxShownAssets = 5">
          {{ 'DASHBOARD.ASSETS.VIEW_LESS' | translate }}
        </div>
      </div>
    </section>
  </div>
</div>
