<div class="pagepanel main-error" ng-if="error">
  {{ 'DASHBOARD.ERROR_PREAMBLE' | translate }}<br>
  <div class="errortext">{{ error.message }} ({{ error.code }})</div>
  <a ng-click="init()" class="button">{{ 'DASHBOARD.RETRY' | translate }}</a>
</div>
<div class="dashboard" ng-if="!error">
  <div class="chartbalance-container dashboard-panel clearfix has-{{ data.portfolios.length > 1 ? data.portfolios.length : 1 }}-portfolios">
    <section class="balance">
      <h2>{{ 'DASHBOARD.BALANCE.TITLE' | translate }}</h2>
      <div class="current" ng-if="data.dashboard">{{ ::value.display(data.dashboard.totalvalue) }}</div>
      <div class="var" ng-if="data.history">
        <span ng-show="getHistorySettings() === 'all'">
          {{ 'DASHBOARD.BALANCE.LAST_ALL' | translate }}
        </span>
        <span ng-show="getHistorySettings() === 'month'">
          {{ 'DASHBOARD.BALANCE.LAST_MONTH' | translate }}
        </span>
        <span ng-show="getHistorySettings() === 'week'">
          {{ 'DASHBOARD.BALANCE.LAST_WEEK' | translate }}
        </span>
        <span ng-show="getHistorySettings() === 'day'">
          {{ 'DASHBOARD.BALANCE.LAST_DAY' | translate }}
        </span>
        :
        <var change="data.var" now="data.dashboard.totalvalue" value="data.varValue"></var>
      </div>
      <div class="portfolio-sneakpeeks">
        <a ui-sref="app.portfolio({ portfolioid: portfolio.id })" ng-repeat="portfolio in data.portfolios" ng-show="$index < 5" class="portfolio">
          <div class="image">
            {{ portfolio.label.substring(0, 2) | uppercase }}
          </div>
          <div class="text">{{ portfolio.label }}</div>
          <div class="subtext muted">{{ ::value.display(portfolio.value) }}</div>
          <div class="minichart" ng-show="portfolio.history.length >= 2">
            <canvas id="chart-portfolio-{{ portfolio.id }}"></canvas>
            <div class="minichart-text" ng-style="{ 'background-color' : portfolio.var168 > 0 ? color.positive_alpha : color.negative_alpha }">
              <var change="portfolio.var168" now="portfolio.value" value="portfolio.var168Value"></var>
            </div>
          </div>
        </a>
        <div class="more">
          <a class="small-link" ui-sref="app.portfolios">See all ></a>
        </div>
      </div>
    </section>
    <section class="chart">
      <h2>
        {{ 'DASHBOARD.CHART.TITLE' | translate }}
        <help tooltip="{{ 'ONBOARDING.LOCALTIME.TITLE' | translate }}" details="'localtime'"></help>
      </h2>
      <a class="maxpoints" ng-class="{ 'active': getMaxpointsSettings() === 0 }" ng-click="toggleMaxpoints()">
        {{ 'DASHBOARD.CHART.ALL_POINTS' | translate }}
      </a>
      <nav>
        <a ng-class="{ 'active': getHistorySettings() === 'all' }" ng-click="setHistory('all')">
          {{ 'DASHBOARD.CHART.NAV_ALL' | translate }}
        </a>
        <a ng-class="{ 'active': getHistorySettings() === 'month' }" ng-click="setHistory('month')">
          {{ 'DASHBOARD.CHART.NAV_MONTH' | translate }}
        </a>
        <a ng-class="{ 'active': getHistorySettings() === 'week' }" ng-click="setHistory('week')">
          {{ 'DASHBOARD.CHART.NAV_WEEK' | translate }}
        </a>
        <a ng-class="{ 'active': getHistorySettings() === 'day' }" ng-click="setHistory('day')">
          {{ 'DASHBOARD.CHART.NAV_DAY' | translate }}
        </a>
      </nav>
      <div class="mainchart" ng-if="!error && data.history.length >= 2">
        <canvas id="chart-mainchart"></canvas>
        <div class="chart-tooltip" id="tooltip-mainchart"></div>
        <div id="boat-mainchart" class="chart-boat"></div>
      </div>
      <div class="onboarding-emptyspace" ng-if="!error && data.portfolios.length && data.accounts.length && data.history.length < 2">
        <img src="img/syncing.svg" alt="galion sync"/>
        <div class="onboarding-title">{{ 'ONBOARDING.DASHBOARD_NOHISTORY.TITLE' | translate }}</div>
        <div class="onboarding-text">{{ 'ONBOARDING.DASHBOARD_NOHISTORY.TEXT' | translate }} <help tooltip="{{ 'ONBOARDING.REFRESHRATES.TITLE' | translate }}" details="'refreshrates'"></help></div>
        <br>
        <div class="onboarding-text muted text-italic text-small">{{ 'ONBOARDING.DASHBOARD_NOHISTORY.TEXT_2' | translate }}</div>
      </div>
      <div class="onboarding-emptyspace" ng-if="!error && data.portfolios.length == 0">
        <img src="img/bigboat.svg" alt="galion boat sailing the seas"/>
        <div class="onboarding-title">{{ 'ONBOARDING.DASHBOARD_NOPORTFOLIO.TITLE' | translate }}</div>
        <div class="onboarding-text">{{ 'ONBOARDING.DASHBOARD_NOPORTFOLIO.TEXT' | translate }}</div>
        <br>
        <a class="onboarding-button button" ng-click="showPortfolioForm()">
          {{ 'ONBOARDING.DASHBOARD_NOPORTFOLIO.BUTTON' | translate }}
        </a>
      </div>
      <div class="onboarding-emptyspace" ng-if="!error && data.portfolios.length && data.accounts.length == 0">
        <img src="img/connect-account.svg" alt="connect account"/>
        <div class="onboarding-title">{{ 'ONBOARDING.DASHBOARD_NOACCOUNT.TITLE' | translate }}</div>
        <div class="onboarding-text">{{ 'ONBOARDING.DASHBOARD_NOACCOUNT.TEXT' | translate }}</div>
        <br>
        <a class="onboarding-button button" ng-click="showAccountForm()">
          {{ 'ONBOARDING.DASHBOARD_NOACCOUNT.BUTTON' | translate }}
        </a>
      </div>
      <div class="mainchart-error" ng-if="error">
        {{ error.message }} ({{ error.code }})<br>
        <br>
        <div class="button-border" ng-click="init()">
          {{ 'DASHBOARD.CHART.RETRY' | translate }}
        </div>
      </div>
    </section>
    <section class="assets clearfix" ng-init="maxShownAssets = 5" ng-show="data.dashboard.dashboardassets.length > 0">
      <h2>{{ 'DASHBOARD.ASSETS.TITLE' | translate }}</h2>

      <div class="assets-container clearfix">
        <div class="asset" ng-repeat="asset in data.dashboard.dashboardassets" ng-show="$index < maxShownAssets">
          <div class="name" title="{{ asset.label }}">
            <div class="asset-image">
              <img check-src="{{ 'img/' + asset.symbol + '.svg' }}" fallback-src="img/coin.svg"/>
            </div>
            {{ asset.label }}
          </div>
          <div class="asset-cell-highlight">{{ ::value.round(asset.volume) }} {{ ::asset.symbol }}</div>
          <div class="asset-cell-normal">{{ ::value.display(asset.value / asset.volume) }} / {{ ::asset.symbol }}</div>
          <div class="asset-cell-highlight">{{ ::value.display(asset.value) }}</div>
          <div class="asset-cell-normal" ng-if="asset.history">
            {{ 'DASHBOARD.ASSETS.PERF_DAY' | translate }}
            <var change="asset.var24" now="asset.value / asset.volume" value="asset.var24Value"></var>
          </div>
          <div class="minichart" ng-if="asset.history">
            <canvas id="chart-asset-{{ asset.mappedcurrencyid }}"></canvas>
            <div class="minichart-text" ng-style="{ 'background-color' : asset.var168 > 0 ? color.positive_alpha : color.negative_alpha }">
              {{ 'DASHBOARD.ASSETS.PERF_WEEK' | translate }}
              <var change="asset.var168" now="asset.value / asset.volume" value="asset.var168Value"></var>
            </div>
          </div>
        </div>
        <div class="assets-moreless" ng-show="maxShownAssets == 5 && data.dashboard.dashboardassets.length > maxShownAssets" ng-click="maxShownAssets = 99999">
          {{ 'DASHBOARD.ASSETS.VIEW_MORE' | translate }}
        </div>
        <div class="assets-moreless" ng-show="maxShownAssets == 99999" ng-click="maxShownAssets = 5">
          {{ 'DASHBOARD.ASSETS.VIEW_LESS' | translate }}
        </div>
      </div>
    </section>
    <section class="operations clearfix" ng-show="data.operations.length > 0">
      <h2>{{ 'DASHBOARD.OPERATIONS.TITLE' | translate }}</h2>

      <div class="operations-container clearfix">
        <div class="operation" ng-repeat="op in data.operations">
          <div class="operation-time">{{ op.time | dateFormat }}</div>
          <div class="operation-type type-{{ op.type }}" title="{{ op.type }}"></div>
          <div class="operation-account" title="{{ op.accountlabel }}">{{ op.accountlabel }}</div>
          <div class="operation-inout">
            <div class="operation-inbound" ng-if="op.inbound">
              <div class="asset-image">
                <img check-src="{{ 'img/' + op.inbound.symbol + '.svg' }}" fallback-src="img/coin.svg"/>
              </div>
              +{{ value.round(op.inbound.volume) }} {{ op.inbound.symbol }}
            </div>

            <div class="operation-outbound" ng-if="op.outbound">
              <div class="asset-image">
                <img check-src="{{ 'img/' + op.outbound.symbol + '.svg' }}" fallback-src="img/coin.svg"/>
              </div>
              -{{ value.round(op.outbound.volume) }} {{ op.outbound.symbol }}
            </div>

            <div ng-if="!op.inbound && !op.outbound" class="muted">
              {{ 'DASHBOARD.OPERATIONS.NO_MOVEMENT' | translate }}
            </div>
          </div>

          <div class="operation-fees" ng-if="op.fees">
            -{{ value.round(op.fees.volume) }} {{ op.fees.symbol }}
          </div>
          <div class="operation-fees muted" ng-if="!op.fees">
            {{ 'DASHBOARD.OPERATIONS.NO_FEES' | translate }}
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
