.version {
  position: absolute;
  bottom: 100px;
  left: 0;
  width: 100%;
  height: 3em;
  text-align: center;
  line-height: 2em;
  white-space: nowrap;
  font-size: .8em;
  padding-bottom: 1em;
  opacity: .7;
}

.menu {
  position: absolute;
  top: 100px;
  left: 0;
  width: 12em;
  height: 100%;
  background: #eee;
  z-index: 9;
  transition: left .1s;
}

.menu a {
  text-decoration: none;
  color: inherit;
  text-transform: uppercase;
}

.menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu li {
  margin: .5em;
  padding: 1em;
  border-bottom: 2px solid #ccc;
}

.menu a.active {
  font-weight: bold;
}

.menu a.active li:before {
  content: '> ';
}

.menu li:first-child {
  margin-top: 0;
}

@media screen and (max-width: 700px) {
  .menu {
    top: 50px;
    width: 85%;
    left: -85%;
  }
  body.show-menu .menu {
    left: 0;
  }
  .maincontent {
    left: 0;
    top: 50px;
    width: 100%;
    height: calc(100% - 50px);
  }
}
