.version {
  position: absolute;
  bottom: 100px;
  left: 0;
  width: 100%;
  height: 3em;
  text-align: center;
  line-height: 2em;
  white-space: nowrap;
  font-size: .8em;
  padding-bottom: 1em;
  opacity: .7;
}

.menu {
  position: absolute;
  top: 100px;
  left: 0;
  width: 16em;
  height: 100%;
  background: #16214D;
  z-index: 9;
  transition: left .1s;
  color: white;
}

.menu a {
  text-decoration: none;
  color: white;
  font-family: avenir;
  font-weight: 500;
  font-size: 14px;
}

.menu a img {
  height: 26px;
  width: 26px;
  vertical-align: -6px;
  margin-right: 12px;
  filter: grayscale(70%);
}

.menu a.active img {
  filter: none;
}

.menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu li {
  padding: 1.5em;
}

.menu a.active li {
  background: rgba(0,0,0,0.4);
}

.menu li:first-child {
  margin-top: 0;
}

@media screen and (max-width: 700px) {
  .menu {
    top: 50px;
    width: 85%;
    left: -85%;
  }
  body.show-menu .menu {
    left: 0;
  }
  .maincontent {
    left: 0;
    top: 50px;
    width: 100%;
    height: calc(100% - 50px);
  }
}
