help {
  display: inline-block;
  position: relative;
}
help::after {
  text-transform: none;
}

.onboarding-info-wrapper {
  position: relative;
  display: inline-block;
  height: 34px;
  width: 34px;
  vertical-align: -11px;
  border-radius: 17px;
  cursor: pointer;
  overflow: hidden;
}
.onboarding-info {
  position: absolute;
  top: 3px;
  left: 3px;
  display: inline-block;
  height: 28px;
  width: 28px;
  border-radius: 14px;
  background: #f37eb3;
  text-align: center;
  line-height: 28px;
  font-size: 18px;
  transition: all .2s;
  transform: scale(0.5);
}
.onboarding-info::before {
  display: inline-block;
  color: #ffe3f0;
  content: '?';
  opacity: 0;
  margin-top: 10px;
  transition: all .4s;
}

.onboarding-info-wrapper:hover .onboarding-info::before {
  opacity: 1;
  margin-top: 0;
}
.onboarding-info-wrapper:hover .onboarding-info {
  transform: scale(1);
  animation: border .4s ease 1 forwards;
}

@keyframes border {
  50% {
    box-shadow: 13px -13px 0 3px #f37eb4, -13px -13px 0 3px #f37eb4, -13px 13px 0 3px #f37eb4, 13px 13px 0 3px #f37eb4, 0 0 0 3px #ffe3f0;
  }
  63% {
    box-shadow: 0 -35px 0 3px #f37eb4, -13px -13px 0 3px #f37eb4, -13px 13px 0 3px #f37eb4, 13px 13px 0 3px #f37eb4, 0 0 0 3px #ffe3f0;
  }
  75% {
    box-shadow: 0 -35px 0 3px #f37eb4, -35px 0px 0 3px #f37eb4, -13px 13px 0 3px #f37eb4, 13px 13px 0 3px #f37eb4, 0 0 0 3px #ffe3f0;
  }
  88% {
    box-shadow: 0 -35px 0 3px #f37eb4, -35px 0px 0 3px #f37eb4, 0px 35px 0 3px #f37eb4, 13px 13px 0 3px #f37eb4, 0 0 0 3px #ffe3f0;
  }
  100% {
    box-shadow: 0 -35px 0 3px #f37eb4, -35px 0px 0 3px #f37eb4, 0px 35px 0 3px #f37eb4, 120px 40px 0 3px #f37eb4, 0 0 0 3px #ffe3f0;
  }
}
