.onboarding-sidepanel .sidepanel-content {
  text-align: center;
}
.onboarding-sidepanel .sidepanel-content img {
  height: 180px;
  max-width: 400px;
  margin: 10px 0 40px;
}
.onboarding-sidepanel .sidepanel-content .text {
  white-space: pre-line;
  font-size: 21px;
}
