.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.muted { opacity: .7 }
.red { color: #d32f2f }
.green { color: #388e3c }
.mtop { margin-top: 1em }
.mtop2 { margin-top: 2em }
.mtop05 { margin-top: .5em }
.mbot2 { margin-bottom: 2em }
.diblock { display: inline-block }
.h100 { height: 100% }
.w100 { width: 100% }
.nowrap { white-space: nowrap }
.vamiddle { vertical-align: middle }
.text-italic { font-style: italic; }
.text-center { text-align: center }
.text-small { font-size: .8em }
.dflex { display: flex; flex-wrap: wrap }
.cpointer { cursor: pointer }
.noselect { user-select: none }
.preline { white-space: pre-line }
.mono { font-family: monospace }

.button, .button-border {
  padding: .7em 2em;
  text-align: center;
  display: inline-block;
  border-radius: 30px;
  cursor: pointer;
  user-select: none;
  text-decoration: none;
}
.button[disabled], .button-border[disabled] {
  opacity: 0.7;
  cursor: not-allowed;
}

.button {
  color: #fff;
  background: linear-gradient(130deg, #a12696, #e35f9b);
  border: none;
}

.button-border {
  border: 1px solid #a12696;
  color: #a12696;
}

.pagepanel {
  border-radius: 10px;
  margin: 0 2em 2em;
  background-color: #fff;
  padding: 2em;
  box-shadow: 0 2px 7px rgba(0,0,0,.2);
}

@media screen and (max-width: 1000px) {
  .pagepanel {
    padding: 1em;
    margin: 0;
    border-radius: 0;
    overflow: hidden;
  }
}

a {
  color: #45B2E0;
  text-decoration: none;
  cursor: pointer;
}

h1 {
  margin: 0 0 20px 0;
  font-size: 24px;
  font-weight: 500;
}

.small-link {
  font-size: 12px;
  font-weight: 500;
}

.asset-image {
  display: inline-block;
  height: 2em;
  width: 2em;
  position: relative;
  margin: 0 .5em 0 0;
  /*border-radius: 10px;
  background: linear-gradient(90deg,#2B5876 0,#4E4376 100%);*/
  vertical-align: middle;
}

.asset-image img {
  position: absolute;
  top: 10%;
  left: 10%;
  height: 80%;
  width: 80%;
  /*filter: invert(100%);*/
}
