.sidepanel-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.3;
  cursor: pointer;
}

.sidepanel {
  position: absolute;
  background: white;
  top: 0;
  right: 0;
  width: 100%;
  max-width: 800px;
  height: 100%;
  border-left: 1px solid #eee;
  box-shadow: 0 -3px 5px rgba(0,0,0,0.1);
}
.sidepanel.ng-hide-remove {
  transition: right .1s linear;
}
.sidepanel-shadow.ng-hide-remove {
  transition: opacity .1s linear;
}
.sidepanel.ng-hide {
  right: -800px;
}
.sidepanel-shadow.ng-hide {
  opacity: 0;
}



.sidepanel-layout {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.sidepanel-header {
  padding: 20px 25px;
  border-bottom: 1px solid #eee;
  font-family: avenir;
  color: #2A2A44;
  opacity: .6;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 32px;
  text-transform: uppercase;
  font-weight: 500;
}

.sidepanel-close {
  height: 1em;
  float: right;
  margin: 0.5em 1.1em;
  cursor: pointer;
  opacity: 0.5;
}

.sidepanel-content {
  flex: 1;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto;
}

.sidepanel-footer {
  line-height: 2em;
  padding-left: .5em;
  font-size: 2em;
  border-top: 1px solid #eee;
}

/* info indicators */
.sidepanel .info-indicator::before {
  content: '🛈';
  font-size: 1.5em;
  vertical-align: middle;
}
.sidepanel .info {
  position: relative;
  padding: 1em 2em 1em 3em;
  border: 1px solid #b8b8b8;
  border-radius: 25px;
  margin: 0 0 20px;
  background-color: #e4f0f7;
}
.sidepanel .info::before {
  content: '🛈';
  font-size: 1.5em;
  position: absolute;
  top: 0.33em;
  left: 0.7em;
}

/* form styles */
.sidepanel input[type="text"] {
  display: block;
  width: 100%;
  border: none;
  padding: 1em 2em;
  border: 1px solid #b8b8b8;
  border-radius: 22px;
}

.sidepanel input[type="submit"] {
  display: block;
  width: 100%;
  padding: 1em 2em;
  border: none;
  cursor: pointer;
  border: none;
  color: #fff;
  background: linear-gradient(130deg,#a12696,#e35f9b);
  border-radius: 22px;
}

.sidepanel .error {
  background: #c62828;
  text-align: center;
  color: #fff;
  width: 100%;
  margin: .5em 0;
  padding: .5em 1em;
  border: none;
  border-radius: 25px;
}

.sidepanel input[type="text"],
.sidepanel input[type="submit"],
.sidepanel .ui-select-container {
  margin: 0 0 20px 0;
  outline: none;
}

/* custom selectbox look */
.sidepanel .ui-select-container {
  height: 43px;
}
.sidepanel .selectize-dropdown-content {
  max-height: 300px;
}
.sidepanel .selectize-control.single .selectize-input {
  padding: .9em 3em .9em 2em;
  box-shadow: none;
  border-radius: 22px;
  background: white;
}
.sidepanel .selectize-control.single.open .selectize-input {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.sidepanel .ui-select-choices {
  margin-top: -5px;
  border-bottom-left-radius: 22px;
  border-bottom-right-radius: 22px;
  overflow: hidden;
}
.sidepanel .selectize-dropdown [data-selectable], .sidepanel .selectize-dropdown .optgroup-header {
  padding: .7em 2em;
}

.sidepanel .dashboard-content {
  padding: 1em;
  width: 100%;
}
