.strvalue {
  display: inline-block;
  cursor: default;
}

.strvalue .asset {
  display: inline-block;
}

.strvalue .usd {
  display: none;
}

.strvalue:hover .asset {
  display: none;
}

.strvalue:hover .usd {
  display: inline-block;
}
