*[tooltip]:after {
  opacity: 0;
  transition: opacity 0.3s;
  content: attr(tooltip);
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  content: attr(tooltip);
  padding: 0 1em;
  border-radius: 15px;
  line-height: 30px;
  color: #fff;
  background: linear-gradient(130deg,#a12696,#e35f9b);
  font-size: 0.9em;
}

*[tooltip]:hover:after {
  opacity: 1;
}
