.component-var {
  display: inline-block;
  cursor: pointer;
  position: relative;
  font-style: normal;
  user-select: none;
}

.component-var.negative {
  color: #d22d6c;
}
.component-var.positive {
  color: #0ac241;
}
.component-var.positive::before {
  content: '+';
}
.component-var.neutral {
  color: #666;
}
