<div class="markets pagepanel" ng-show="loading">
  <div ng-show="loading" class="loading">
    {{ 'MARKETS.LOADING' | translate }}
  </div>
</div>
<div class="markets pagepanel" ng-show="!loading">
  <h1>
    {{ 'MARKETS.TITLE' | translate }}
  </h1>
  <table>
    <tr>
      <th ng-click="toggleSort('rank')">
        {{ 'MARKETS.RANK' | translate }}
        {{ getSortIndicator('rank') }}
      </th>
      <th ng-click="toggleSort('name')">
        {{ 'MARKETS.NAME' | translate }}
        {{ getSortIndicator('name') }}
      </th>
      <th ng-click="toggleSort('market_cap_usd')">
        {{ 'MARKETS.MARKETCAP' | translate }}
        {{ getSortIndicator('market_cap_usd') }}
      </th>
      <th ng-click="toggleSort('price_usd')">
        {{ 'MARKETS.PRICE' | translate }}
        {{ getSortIndicator('price_usd') }}
      </th>
      <th ng-click="toggleSort('volume_24h')">
        {{ 'MARKETS.VOL24' | translate }}
        {{ getSortIndicator('volume_24h') }}
      </th>
      <th ng-click="toggleSort('available_supply')">
        {{ 'MARKETS.CIRCULATING' | translate }}
        {{ getSortIndicator('available_supply') }}
      </th>
      <th ng-click="toggleSort('percent_change_1h')">
        {{ 'MARKETS.CHANGE1' | translate }}
        {{ getSortIndicator('percent_change_1h') }}
      </th>
      <th ng-click="toggleSort('percent_change_24h')">
        {{ 'MARKETS.CHANGE24' | translate }}
        {{ getSortIndicator('percent_change_24h') }}
      </th>
      <th ng-click="toggleSort('percent_change_7d')">
        {{ 'MARKETS.CHANGE168' | translate }}
        {{ getSortIndicator('percent_change_7d') }}
      </th>
    </tr>
    <tr ng-repeat="entry in markets | orderBy:sort" ng-class="{ has: hasAsset(entry.symbol) }">
      <td>
        {{ entry.rank }}
      </td>
      <td class="name" title="{{ entry.name }}">
        <div class="asset-image">
          <img check-src="{{ 'img/' + entry.symbol + '.svg' }}" fallback-src="img/coin.svg"/>
        </div>
        {{ entry.name }}
      </td>
      <td>
        ${{ value.round(entry.market_cap_usd) }}
      </td>
      <td class="price">
        {{ value.display(entry.price_usd / multipliers['0']) }}
      </td>
      <td>
        {{ value.display(entry.volume_24h / multipliers['0']) }}
      </td>
      <td>
        {{ value.round(entry.available_supply) }}
        {{ entry.symbol }}
      </td>
      <td>
        <var change="(((100 + entry.percent_change_1h) / 100) / (multipliers['1'] / multipliers['0'])) * 100 - 100" now="entry.price_usd / multipliers['0']"></var>
      </td>
      <td>
        <var change="(((100 + entry.percent_change_24h) / 100) / (multipliers['24'] / multipliers['0'])) * 100 - 100" now="entry.price_usd / multipliers['0']"></var>
      </td>
      <td>
        <var change="(((100 + entry.percent_change_7d) / 100) / (multipliers['168'] / multipliers['0'])) * 100 - 100" now="entry.price_usd / multipliers['0']"></var>
      </td>
    </tr>
  </table>
  <div class="poweredby">
    Powered by <a href="https://coinmarketcap.com" target="_blank">Coinmarketcap</a>.
  </div>
</div>
