.portfolios {
  padding: 2em;
  margin: 2em;
  width: calc(100% - 4em);
  background: white;
  border-radius: 10px;
  box-shadow: 0 2px 7px rgba(0,0,0,.2);
}

.portfolios .head h1 {
  position: relative;
  text-transform: uppercase;
  font-size: 1.1em;
  margin: 0 0 3rem;
}

.portfolios .head .mainbutton {
  position: absolute;
  right: 4em;
  top: 3.5em;
  box-shadow: 0 2px 7px rgba(0,0,0,.1);
}

.portfolios .portfolio {
  position: relative;
  margin-top: 2em;
  margin-bottom: 4em;
}

.portfolios .portfolio .text {
  float: left;
  background: white;
  width: 45%;
  padding: 2em;
  margin: -1em 0;
  border-radius: 10px;
  box-shadow: 0 2px 7px rgba(0,0,0,.2);
}

.portfolios .portfolio .portfolio-title {
  float: left;
  font-weight: bold;
  font-size: 1.3em;
  line-height: 1.5em;
  margin: 0;
}

.portfolios .portfolio .portfolio-balance {
  float: right;
  font-weight: bold;
  font-size: 1.6em;
  color: #5B86E5;
}

.portfolios .portfolio .portfolio-accounts {
  float: left;
  opacity: .7;
  margin-top: 0.5em;
}

.portfolios .portfolio .portfolio-variations {
  float: right;
  margin-top: 0.5em;
}

.portfolios .portfolio .portfolio-assets {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.portfolios .portfolio .portfolio-asset {
  padding: .5em 1em 0 1em;
  border-top: 2px solid #eee;
  margin-top: .5em;
  line-height: 3em;
  text-align: left;
  flex-grow: 1;
  width: 25%;
  min-width: 150px;
  white-space: nowrap;
  font-size: 0.9em;
}
.portfolios .portfolio .portfolio-asset img {
  height: 2em;
  width: 2em;
  vertical-align: -0.6em;
}
.portfolios .portfolio .portfolio-asset a {
  opacity: .7;
  color: inherit;
}

.portfolios .portfolio .chart {
  position: absolute;
  background: linear-gradient(90deg, #f5f5f5 0%, #ececec 100%);;
  box-shadow: 0 2px 7px rgba(0,0,0,.1);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
  top: 1em;
  right: 1em;
  height: 100%;
  width: 55%;
  margin: -1em;
  display: table-cell;
  vertical-align: middle;
}

.portfolios .portfolio .chart .boat {
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  width: 50px;
  background: url('img/boat.svg');
  pointer-events: none;
  margin-left: -25px;
  margin-top: -40px;
  opacity: 0;
  transition: opacity .3s;
}

.portfolios .portfolio .chart canvas {
  margin-top: -5px;
  height: calc(100% + 11px) !important;
}

.portfolios .portfolio .chart .tooltip {
  position: absolute;
  bottom: .5em;
  left: 50%;
  transform: translateX(-50%);
  font-size: .8em;
  height: 2em;
  background: linear-gradient(130deg,#a12696,#e35f9b);
  color: white;
  line-height: 2em;
  border-radius: 1em;
  opacity: 0;
  pointer-events: none;
  transition: opacity .3s;
  white-space: nowrap;
  padding: 0 2em;
}

.portfolios .portfolio .no-chart-message {
  text-align: center;
  opacity: .7;
  width: 100%;
  position: absolute;
  top: calc(50% - 1em);
  left: 0;
  height: 2em;
  line-height: 2em;
}

@media screen and (max-width: 1000px) {
  .portfolios {
    padding: 2em 1em 1em;
    width: 100%;
    margin: 0;
    background: #f5f5f5;
    border-radius: 0;
  }

  .portfolios .head .mainbutton {
    right: 1em;
    top: 1.4em;
  }

  .portfolios .head h1 {
    margin-bottom: 0;
  }

  .portfolios .portfolio {
    padding: 2.5em 1.5em 1em;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0,0,0,.2);
  }

  .portfolios .portfolio .text, .portfolios .portfolio .chart {
    background: none;
    border: none;
    box-shadow: none;
    border-radius: 0;
  }

  .portfolios .portfolio .chart .boat {
    display: none;
  }

  .portfolios .portfolio .text {
    width: 100%;
    padding: 0;
    border: none;
  }
  .portfolios .portfolio .chart {
    position: relative;
    float: left;
    height: 150px;
    width: calc(100% + 3em);
    margin: -0.5em;
  }

  .portfolios .portfolio .chart canvas {
    margin-top: -5px;
    height: calc(100% + 5px) !important;
  }

  .portfolios .portfolio .chart .tooltip {
    bottom: 1em;
  }
}
