.portfolios {

}

.portfolios .head h1 {
  margin: 0;
}

.portfolios .head .mainbutton {
  position: absolute;
  right: 4em;
  top: 1.4em;
  box-shadow: 0 2px 7px rgba(0,0,0,.1);
}

.portfolios .portfolio {
  position: relative;
  margin: 2em 0;
  background: white;
  border-radius: 10px;
  border: 1px solid #e5e5e5;
  cursor: pointer;
}

.portfolios .dust .asset-image,
.portfolios .dust .strvalue-asset,
.portfolios .dust .strvalue-usd {
  opacity: 0.5;
}

.portfolios .portfolio .action {
  cursor: pointer;
  position: relative;
  padding: 0.2em;
  display: inline-block;
  vertical-align: middle;
  opacity: 0;
  font-size: 0.9em;
  transition: opacity .1s;
}
.portfolios .portfolio:hover .action {
  opacity: 0.4;
}
.portfolios .portfolio:hover .action:hover {
  opacity: 1;
}
.portfolios .portfolio .action img {
  height: 0.8em;
  width: 0.8em;
}

.portfolios .portfolio .text {
  float: left;
  width: 45%;
  padding: 2em;
}

.portfolios .portfolio .portfolio-title {
  float: left;
  font-weight: bold;
  font-size: 1.3em;
  line-height: 1.5em;
  margin: 0;
}

.portfolios .portfolio .portfolio-balance {
  float: right;
  font-weight: 500;
  font-family: avenir;
  font-size: 1.6em;
  color: #5B86E5;
}

.portfolios .portfolio .portfolio-accounts {
  float: left;
  opacity: .7;
  margin-top: 0.5em;
}

.portfolios .portfolio .portfolio-variations {
  float: right;
  margin-top: 0.5em;
}

.portfolios .portfolio .portfolio-assets {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.portfolios .portfolio .portfolio-asset {
  padding: .5em 1em 0 1em;
  border-top: 1px solid #e5e5e5;
  margin-top: .5em;
  line-height: 3em;
  text-align: left;
  flex-grow: 1;
  width: 25%;
  min-width: 150px;
  white-space: nowrap;
  font-size: 0.9em;
}

.portfolios .portfolio .chart {
  position: absolute;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
  top: 1em;
  right: 1em;
  height: 100%;
  width: 55%;
  margin: -1em;
  display: table-cell;
  vertical-align: middle;
}

.portfolios .portfolio .chart .boat {
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  width: 50px;
  background: url('img/boat.svg');
  pointer-events: none;
  margin-left: -25px;
  margin-top: -40px;
  opacity: 0;
  transition: opacity .3s;
}

.portfolios .portfolio .chart canvas {
  margin-top: -5px;
  height: calc(100% + 11px) !important;
}

.portfolios .portfolio .chart .tooltip {
  position: absolute;
  bottom: 2.5em;
  left: 50%;
  transform: translateX(-50%);
  font-size: .8em;
  height: 2em;
  background: linear-gradient(130deg,#a12696,#e35f9b);
  color: white;
  line-height: 2em;
  border-radius: 1em;
  opacity: 0;
  pointer-events: none;
  transition: opacity .3s;
  white-space: nowrap;
  padding: 0 2em;
}

.portfolios .portfolio .no-chart-message {
  text-align: center;
  opacity: .7;
  width: 100%;
  position: absolute;
  top: calc(50% - 1em);
  left: 0;
  height: 2em;
  line-height: 2em;
}

@media screen and (max-width: 1000px) {
  .portfolios .head .mainbutton {
    right: 1em;
    top: 0.4em;
  }

  .portfolios .head h1 {
    margin-bottom: 0;
  }

  .portfolios .portfolio {
    padding: 2.5em 1.5em 1em;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 0;
  }

  .portfolios .portfolio .text, .portfolios .portfolio .chart {
    background: none;
    border: none;
    box-shadow: none;
    border-radius: 0;
  }

  .portfolios .portfolio .chart .boat {
    display: none;
  }

  .portfolios .portfolio .text {
    width: 100%;
    padding: 0;
    border: none;
  }
  .portfolios .portfolio .chart {
    position: relative;
    float: left;
    height: 150px;
    width: calc(100% + 3em);
    margin: -0.5em;
  }

  .portfolios .portfolio .chart canvas {
    margin-top: -5px;
    height: calc(100% + 5px) !important;
  }

  .portfolios .portfolio .chart .tooltip {
    bottom: 3.5em;
  }
}
