.markets {
  min-height: 350px;
  width: calc(100% - 4em);
}

.markets a {
  text-decoration: none;
  color: inherit;
}

.markets .loading {
  text-align: center;
  padding: 70px 3em;
}

.markets table {
  width: 100%;
}

.markets tr.has {
  font-weight: 500;
}

.markets th, .markets td {
  white-space: nowrap;
}
.markets th {
  font-weight: 500;
  font-size: 16px;
  padding: 15px;
  background: #e5ecf1;
  cursor: pointer;
  user-select: none;
}
.markets th:first-child {
  border-top-left-radius: 3px;
}
.markets th:last-child {
  border-top-right-radius: 3px;
}

.markets table tr:nth-child(even) td {
  background: rgba(0, 0, 0, 0.03);
}

.markets td {
  text-align: center;
  padding: 15px;
}

.markets td.name {
  text-align: left;
  position: relative;
  padding-left: 50px;
}

.markets td.price {
  color: #45B2E0;
  font-weight: 500;
}

.markets .asset-image {
  position: absolute;
  top: 7px;
  left: 7px;
  height: 34px;
  width: 34px;
}

.markets .poweredby {
  margin-top: 1em;
  text-align: center;
}

@media screen and (max-width: 1550px) {
  .markets th, .markets td {
    font-size: 12px;
    padding: 10px;
  }
  .markets .name {
    padding-left: 35px;
  }
  .markets .asset-image {
    top: 3px;
    left: 5px;
    height: 25px;
    width: 25px;
  }
}
@media screen and (max-width: 1250px) {
  .markets th, .markets td {
    font-size: 11px;
    padding: 5px;
  }
  .markets .name {
    padding-left: 30px;
  }
  .markets .asset-image {
    top: 0px;
    left: 5px;
    height: 21px;
    width: 21px;
  }
}
@media screen and (max-width: 1000px) {
  .markets {
    padding: 0;
    width: 100%;
    overflow: auto;
  }
  .markets h1 {
    display: none;
  }
  .markets th:first-child {
    border-top-left-radius: 0;
  }
  .markets th:last-child {
    border-top-right-radius: 0;
  }
  .markets .asset-image {
    top: 0;
    left: 0;
    height: 21px;
    width: 21px;
    border-radius: 11px;
  }
  .markets td.name {
    padding-left: 25px;
  }
  .markets th, .markets td {
    font-size: 10px;
    padding: 5px;
  }
}
