.markets {
  min-height: 280px;
}

.markets h1 {
  margin-top: 0;
}

.markets .loading {
  text-align: center;
  padding: 3em;
}

.markets table {
  width: 100%;
}

.markets tr.has {
  font-weight: bold;
}

.markets th {
  font-weight: bold;
  font-size: 16px;
  padding: 15px;
  background: #2B5876;
  color: white;
  cursor: pointer;
  user-select: none;
}
.markets th:first-child {
  border-top-left-radius: 7px;
}
.markets th:last-child {
  border-top-right-radius: 7px;
}

.markets table tr:nth-child(even) td {
  background: rgba(0, 0, 0, 0.03);
}

.markets td {
  text-align: center;
  padding: 15px;
}

.markets td.name {
  text-align: left;
  position: relative;
  padding-left: 50px;
}

.markets td.price {
  color: #45B2E0;
  font-weight: bold;
}

.markets .asset-image {
  position: absolute;
  top: 7px;
  left: 7px;
  height: 34px;
  width: 34px;
}

.markets .poweredby {
  margin-top: 1em;
  text-align: center;
}
