header {
  display: block;
  width: 100%;
  height: 100px;
  line-height: 100px;
  z-index: 10;
}

header help {
  float: left;
  margin-top: -9px;
  margin-right: 3px
}

header .account-wrapper {
  float: right;
  cursor: pointer;
  border-radius: 10px;
  padding: 0 2em;
  color: #fff;
  text-align: right;
  padding-bottom: 1em;
}

header .account-wrapper-close {
  background: rgba(0,0,0,0.3);
  cursor: pointer;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 15
}

header .menu-icon {
  height: 30px;
  width: 30px;
  position: absolute;
  top: 10px;
  left: 10px;
  display: none;
}

header .avatar {
  height: 40px;
  width: 40px;
  vertical-align: -15px;
  margin-left: 10px;
  border-radius: 35px;
  box-shadow: 0 0 2px white, 0 0 2px white, 0 0 2px white, 0 0 2px white, 0 0 2px white, 0 0 2px white, 0 0 2px white, 0 0 2px white, 0 0 2px white, 0 0 2px white;
}

header .account-wrapper .content {
  display: none;
  max-width: 600px;
  min-width: 300px;
  padding-top: 1em;
  line-height: 1.4em;
}

header .account-wrapper.open {
  color: #333;
  margin-left: 1em;
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 20;
  box-shadow: 0 2px 1px rgba(0,0,0,.3);
  background: #fff;
  line-height: 80px;
  padding: 0 calc(2em - 10px) 1em;
}

header .account-wrapper.open .content {
  display: block;
}

/* display currency switcher */
header .display-value-selector {
  float: right;
  display: inline-block;
  color: #fff;
  line-height: 1;
  padding-top: 42px;
}
header .ui-select-container {
  width: 100px;
  display: inline-block;
  margin-left: 10px;
  margin-right: 50px;
  float: right;
}
header .selectize-control.single .selectize-input {
  background: rgba(255, 255, 255, 0.3);
  color: #fff;
  box-shadow: none;
  margin-top: -10px;
}
header .selectize-dropdown.single {
  margin-top: -5px;
}
header .selectize-control.single .selectize-input:after {
  border-color: rgba(255, 255, 255, 0.8) transparent transparent transparent;
}

.mobile-display-value-selector {
  width: 100%!important;
  margin: 0!important;
}
.mobile-display-value-selector .selectize-input {
  color: inherit!important;
  text-align: center;
}
.mobile-display-value-selector .ui-select-choices-row-inner {
  text-align: center;
}
header .mobile-display-value-selector.selectize-control.single .selectize-input:after {
  border-color: #777 transparent transparent transparent;
}

@media screen and (min-width: 1000px) {
  .mobile-display-value-selector {
    display: none!important;
  }
}

@media screen and (max-width: 1000px) {
  header {
    position: fixed;
    height: 50px;
    line-height: 50px;
    background: #30304C;
  }
  div[ui-view="maincontent"] {
    padding-top: 50px;
  }
  header .logo {
    height: 50px;
    line-height: 53px;
    left: 50px;
    padding-left: 2.3em;
  }
  header .menu-icon {
    display: inline-block;
  }
  header .display-value-selector {
    display: none;
  }
  header .account-wrapper .user {
    display: none
  }
  header .account-wrapper.open {
    top: 0;
    right: 0;
    width: 100%;
    padding: 0 2em 1em;
    line-height: 50px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;;
  }
  header .account-wrapper.open .user {
    display: initial;
  }
  header .avatar {
    height: 40px !important;
    width: 40px !important;
    vertical-align: -15px;
  }
}
