header {
  position: absolute;
  top: 0;
  left: 14em;
  width: calc(100% - 14em);
  height: 50px;
  background: transparent;
  z-index: 10;
}

header .account-wrapper {
  height: 50px;
  position: absolute;
  right: 0;
  margin: 5px .5em 0;
  line-height: 70px;
  z-index: 99;
  padding: 5px 1em;
  cursor: pointer;
}

header .user {
  float: right;
  font-size: 1.3em;
}

header .menu-icon {
  display: none;
  height: 30px;
  width: 30px;
  margin: 10px 0 0 1.5em;
  position: absolute;
}

@media screen and (max-width: 700px) {
  .account-wrapper .user { display: none }
  .account-wrapper.open .user { display: block }

  header {
    height: 50px;
  }

  header .menu-icon {
    display: block;
  }
  header .account-wrapper {
    height: 45px;
    margin-top: -7px;
  }
  header .account-wrapper.open {
    margin-top: -8px !important;
  }
  header .avatar {
    height: 40px !important;
    width: 40px !important;
  }
}

header .avatar {
  float: right;
  height: 30px;
  width: 30px;
  margin-left: 1em;
  border-radius: 35px;
}

header .account-wrapper .content {
  display: none;
  max-width: 600px;
  min-width: 300px;
  padding-top: 1em;
  line-height: 1.4em;
}

header .account-wrapper.open {
  height: auto;
  box-shadow: 0 2px 1px rgba(0,0,0,.3);
  background: #fff;
  border: 1px solid rgba(0,0,0,.1);
  margin-top: 4px;
  margin-right: calc(.5em - 1px);
}

header .account-wrapper.open .content {
  display: block;
}
