<div class="sidepanel-layout form-portfolio" ng-controller="FormPortfolioCtrl">
  <div class="sidepanel-header">
    {{ ('FORM.' + (isEdit ? 'EDIT' : 'CREATE') + '_PORTFOLIO.TITLE') | translate }}
    <img ng-click="closeSidepanel()" class="sidepanel-close" src="img/close.svg" alt="x" />
  </div>
  <div class="sidepanel-content">
    <form ng-submit="submit()" class="form-portfolio">
      <input id="form-portfolio-form-label" ng-model="formData.label" type="text" placeholder="{{ ('FORM.' + (isEdit ? 'EDIT' : 'CREATE') + '_PORTFOLIO.NAME_PLACEHOLDER') | translate }}"/>
      <div class="error" ng-show="error">
        {{ error.message }} ({{ error.code }})
      </div>
      <input type="submit" ng-disabled="!formData.label || loading" value="{{ ('FORM.' + (isEdit ? 'EDIT' : 'CREATE') + '_PORTFOLIO.SUBMIT' + (loading ? '_INPROG' : '')) | translate }}"/>
    </form>
  </div>
</div>
