<div class="portfolios">
  <section ng-show="loading" class="loading"></section>
  <section ng-show="!loading">
    <h1>
      {{ 'PORTFOLIOS.TITLE' | translate }}
      <a class="mainbutton" ng-click="promptForm()">{{ 'PORTFOLIOS.CREATE_PORTFOLIO' | translate }}</a>
    </h1>

    <section ng-repeat="portfolio in portfolios" class="portfolio clearfix">
      <div class="text">
        <div class="clearfix">
          <h2 class="portfolio-title">
            {{ 'PORTFOLIOS.PORTFOLIO' | translate }} {{ portfolio.label }}
            <a ng-click="promptForm(portfolio)" style="color:blue;text-decoration:underline;cursor:pointer;font-weight:normal;font-size:0.8em">edit</a>
            <a ng-click="promptDelete(portfolio.id)" style="color:blue;text-decoration:underline;font-weight:normal;cursor:pointer;font-size:0.8em">delete</a>
          </h2>
          <div class="portfolio-balance">
            {{ portfolio.values[0].value | num:2 }} USD
          </div>
        </div>
        <div class="clearfix">
          <div class="portfolio-accounts">
            {{ portfolio.accounts.length }} {{ 'PORTFOLIOS.ACCOUNTS' | translate }}
          </div>
          <div class="portfolio-variations">
            <span ng-bind-html="portfolio.var24 | var"></span> {{ 'PORTFOLIOS.VAR24' | translate }}
            |
            <span ng-bind-html="portfolio.var168 | var"></span> {{ 'PORTFOLIOS.VAR168' | translate }}
          </div>
        </div>
        <!-- 1st case : more than 4 assets -->
        <div class="portfolio-assets" ng-if="portfolio.assets.length > 4" ng-init="portfolio.maxdisplay = 3">
          <div class="portfolio-asset" ng-repeat="asset in portfolio.assets" ng-show="$index < portfolio.maxdisplay">
            <img check-src="{{ asset.img }}" fallback-src="img/coin.svg"/>
            <span strvalue="asset"></span>
          </div>
          <div class="portfolio-asset cpointer" ng-click="portfolio.maxdisplay = 9999" ng-hide="portfolio.maxdisplay == 9999">
            <a>{{ 'PORTFOLIOS.MORE_ASSETS' | translate:{ n: portfolio.assets.length - 3 } }}</a>
          </div>
          <div class="portfolio-asset" ng-if="portfolio.maxdisplay == 9999 && portfolio.assets.length % 4 == 3">&nbsp;</div>
          <div class="portfolio-asset" ng-if="portfolio.maxdisplay == 9999 && portfolio.assets.length % 4 == 2">&nbsp;</div>
          <div class="portfolio-asset" ng-if="portfolio.maxdisplay == 9999 && portfolio.assets.length % 4 == 2">&nbsp;</div>
          <div class="portfolio-asset" ng-if="portfolio.maxdisplay == 9999 && portfolio.assets.length % 4 == 1">&nbsp;</div>
          <div class="portfolio-asset" ng-if="portfolio.maxdisplay == 9999 && portfolio.assets.length % 4 == 1">&nbsp;</div>
          <div class="portfolio-asset" ng-if="portfolio.maxdisplay == 9999 && portfolio.assets.length % 4 == 1">&nbsp;</div>
        </div>
        <!-- 2nd case : at most 4 assets -->
        <div class="portfolio-assets" ng-if="portfolio.assets.length <= 4">
          <div class="portfolio-asset" ng-repeat="asset in portfolio.assets">
            <img check-src="{{ asset.img }}" fallback-src="img/coin.svg"/>
            <span strvalue="asset"></span>
          </div>
          <div class="portfolio-asset" ng-if="portfolio.assets.length < 4"></div>
          <div class="portfolio-asset" ng-if="portfolio.assets.length < 3"></div>
          <div class="portfolio-asset" ng-if="portfolio.assets.length < 2"></div>
        </div>
      </div>
      <div class="chart" id="portfolio-{{ portfolio.id }}-chart"></div>
    </div>
  </section>
</div>
