<div class="portfolio pagepanel clearfix">
  <section class="chart clearfix">
    <h2>
      <a class="backbtn" ng-click="back()">{{ 'PORTFOLIO.BACK' | translate }}</a>
      {{ data.portfolio.label }}
    </h2>
    <a class="maxpoints" ng-class="{ 'active': getMaxpointsSettings() === 0 }" ng-click="toggleMaxpoints()">
      {{ 'PORTFOLIO.CHART.ALL_POINTS' | translate }}
    </a>
    <nav>
      <a ng-class="{ 'active': getHistorySettings() === 'all' }" ng-click="setHistory('all')">
        {{ 'PORTFOLIO.CHART.NAV_ALL' | translate }}
      </a>
      <a ng-class="{ 'active': getHistorySettings() === 'month' }" ng-click="setHistory('month')">
        {{ 'PORTFOLIO.CHART.NAV_MONTH' | translate }}
      </a>
      <a ng-class="{ 'active': getHistorySettings() === 'week' }" ng-click="setHistory('week')">
        {{ 'PORTFOLIO.CHART.NAV_WEEK' | translate }}
      </a>
      <a ng-class="{ 'active': getHistorySettings() === 'day' }" ng-click="setHistory('day')">
        {{ 'PORTFOLIO.CHART.NAV_DAY' | translate }}
      </a>
    </nav>
    <div class="mainchart">
      <canvas id="chart-mainchart"></canvas>
      <div class="chart-tooltip" id="tooltip-mainchart"></div>
      <div id="boat-mainchart" class="chart-boat"></div>
    </div>
  </section>
  <section class="assets clearfix" ng-init="maxShownAssets = 5">
    <h2>{{ 'PORTFOLIO.ASSETS.TITLE' | translate }}</h2>

    <div class="assets-container clearfix">
      <div class="asset" ng-repeat="asset in data.assets" ng-show="$index < maxShownAssets">
        <div class="name">
          <div class="asset-image">
            <img check-src="{{ 'img/' + asset.symbol + '.svg' }}" fallback-src="img/coin.svg"/>
          </div>
          {{ asset.label }}
        </div>
        <div class="asset-cell-highlight">{{ ::value.round(asset.volume) }} {{ ::asset.symbol }}</div>
        <div class="asset-cell-normal">{{ ::value.display(asset.value / asset.volume) }} / {{ ::asset.symbol }}</div>
        <div class="asset-cell-highlight">{{ ::value.display(asset.value) }}</div>
        <div class="asset-cell-normal">
          {{ 'PORTFOLIO.ASSETS.PERF_DAY' | translate }}
          <var change="asset.var24" now="asset.value"></var>
        </div>
        <div class="asset-cell-normal">
          {{ 'PORTFOLIO.ASSETS.PERF_WEEK' | translate }}
          <var change="asset.var168" now="asset.value"></var>
        </div>
        <div class="minichart" ng-show="asset.history">
          <canvas id="chart-asset-{{ asset.mappedcurrencyid }}"></canvas>
          <div class="minichart-text" ng-style="{ 'background-color' : asset.var168 > 0 ? color.positive_alpha : color.negative_alpha }">
            <var change="asset.var168" now="asset.value"></var>
          </div>
        </div>
      </div>
      <div class="assets-moreless" ng-show="maxShownAssets == 5 && data.assets.length > maxShownAssets" ng-click="maxShownAssets = 99999">
        {{ 'PORTFOLIO.ASSETS.VIEW_MORE' | translate }}
      </div>
      <div class="assets-moreless" ng-show="maxShownAssets == 99999" ng-click="maxShownAssets = 5">
        {{ 'PORTFOLIO.ASSETS.VIEW_LESS' | translate }}
      </div>
    </div>
  </section>
</div>
