<div class="portfolios pagepanel">
  <section ng-show="loading" class="loading"></section>
  <section ng-show="!loading">
    <div class="head">
      <h1>
        {{ 'PORTFOLIOS.TITLE' | translate }}
        <span ng-show="portfolios.length">({{ portfolios.length }})</span>
      </h1>
      <a class="mainbutton button" ng-click="promptForm()">{{ 'PORTFOLIOS.CREATE_PORTFOLIO' | translate }}</a>
    </div>


    <section ng-repeat="portfolio in portfolios" class="portfolio clearfix" ui-sref="app.portfolio({ portfolioid: portfolio.id })">
      <div class="text">
        <div class="clearfix">
          <h2 class="portfolio-title">
            {{ portfolio.label }}
            &nbsp;
            <a ng-click="promptForm(portfolio); $event.stopPropagation()" class="action" tooltip="{{ 'PORTFOLIOS.EDIT' | translate }}">
              <img src="img/edit.svg" alt="edit"/>
            </a>
            <a ng-click="promptDelete(portfolio.id); $event.stopPropagation()" class="action" tooltip="{{ 'PORTFOLIOS.DELETE' | translate }}">
              <img src="img/delete.svg" alt="edit"/>
            </a>
          </h2>
          <div class="portfolio-balance">
            {{ ::value.display(portfolio.value) }}
          </div>
        </div>
        <div class="clearfix">
          <div class="portfolio-accounts">
            {{ 'PORTFOLIOS.ACCOUNTS' | translate:{ n: portfolio.accounts.length } }}
          </div>
          <div class="portfolio-variations" ng-if="portfolio.history.length > 0">
            {{ 'PORTFOLIOS.VAR24' | translate }} :
            <var change="portfolio.var24" now="portfolio.value"></var>
            <span ng-show="portfolio.showVar168">
              | {{ 'PORTFOLIOS.VAR168' | translate }} :
              <var change="portfolio.var168" now="portfolio.value"></var>
            </span>
          </div>
        </div>
        <!-- 1st case : more than 4 assets -->
        <div class="portfolio-assets" ng-if="portfolio.assets.length > 4" ng-init="portfolio.maxdisplay = 3">
          <div class="portfolio-asset" ng-repeat="asset in portfolio.assets" ng-show="$index < portfolio.maxdisplay">
            <div ng-class="{ 'dust': asset.value === 0 }">
              <div class="asset-image">
                <img check-src="{{ 'img/' + asset.symbol + '.svg' }}" fallback-src="img/coin.svg"/>
              </div>
              <span strvalue="asset"></span>
            </div>
          </div>
          <div class="portfolio-asset cpointer" ng-click="portfolio.maxdisplay = 9999; $event.stopPropagation()" ng-hide="portfolio.maxdisplay == 9999">
            <a class="small-link">{{ 'PORTFOLIOS.MORE_ASSETS' | translate:{ n: portfolio.assets.length - 3 } }}</a>
          </div>
          <div class="portfolio-asset cpointer" ng-click="portfolio.maxdisplay = 3; $event.stopPropagation()" ng-show="portfolio.maxdisplay == 9999">
            <a class="small-link">{{ 'PORTFOLIOS.LESS_ASSETS' | translate }}</a>
          </div>
          <div class="portfolio-asset" ng-if="portfolio.maxdisplay == 9999 && portfolio.assets.length % 4 == 2">&nbsp;</div>
          <div class="portfolio-asset" ng-if="portfolio.maxdisplay == 9999 && portfolio.assets.length % 4 == 1">&nbsp;</div>
          <div class="portfolio-asset" ng-if="portfolio.maxdisplay == 9999 && portfolio.assets.length % 4 == 1">&nbsp;</div>
        </div>
        <!-- 2nd case : at most 4 assets -->
        <div class="portfolio-assets" ng-if="portfolio.assets.length <= 4 && portfolio.assets.length >= 1">
          <div class="portfolio-asset" ng-repeat="asset in portfolio.assets">
            <div ng-class="{ 'dust': asset.value === 0 }">
              <div class="asset-image">
                <img check-src="{{ 'img/' + asset.symbol + '.svg' }}" fallback-src="img/coin.svg"/>
              </div>
              <span strvalue="asset"></span>
            </div>
          </div>
          <div class="portfolio-asset" ng-if="portfolio.assets.length < 4"></div>
          <div class="portfolio-asset" ng-if="portfolio.assets.length < 3"></div>
          <div class="portfolio-asset" ng-if="portfolio.assets.length < 2"></div>
        </div>
      </div>
      <div class="chart">
        <canvas id="chart-portfolio-{{ portfolio.id }}" ng-show="!portfolio.nodata"></canvas>
        <div ng-show="portfolio.nodata" class="no-chart-message">
          {{ 'PORTFOLIOS.NODATA' | translate }}
        </div>
        <div ng-show="portfolio.loadingHistory" class="no-chart-message">
          {{ 'PORTFOLIOS.LOADING_HISTORY' | translate }}
        </div>
        <div class="tooltip" id="tooltip-portfolio-{{ portfolio.id }}"></div>
        <div id="boat-portfolio-{{ portfolio.id }}" class="boat"></div>
      </div>
    </div>
  </section>
</div>
